# Практические задания 19
* Лекция 37 - Работа с базами данных из интерфейса Python

#### Онлайн-библиотека
Вы создаёте пошагово консольное приложение на Python, работающее с базой данных MySQL и MongoDB. Ваша цель – проанализировать работу интернет-библиотеки. Библиотека работает следующим образом: пользователь выбирает книгу и оплачивает возможность ее чтения в приложении магазина до конца календарного года. 1 января каждого года доступ всех пользователей ко всем книгам закрывается. Вы получили для анализа три csv-файла: об имеющихся в магазине книгах и стоимости их чтения, о пользователях библиотеки и о выданных правах на чтение.   
Проект включает в себя следующие этапы:
1. Создание базы данных и таблиц
2. Загрузка данных из файлов в созданную базу данных
3. Написание запросов к базе данных
4. Создание меню для поиска информации по книгам и пользователям
5. Фиксация поисков в MongoDB
6. Анализ самых популярных запросов

### Онлайн-библиотека. Часть 1

1. **Создание базы данных библиотеки**  
Создайте новую базу данных MySQL под названием library_<номер группы>. (Добавьте так же свое имя, если работаете индивидуально)
После этого выполните проверку: если база данных успешно создана (или уже существует), выведите сообщение:   
`Database 'library_...' created or already exists.`

In [23]:
import pymysql

config = {
    'host': 'ich-edit.edu.itcareerhub.de',
    'user': 'ich1',
    'password': 'ich1_password_ilovedbs',
}

db_name = "library_test"

with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
        cursor.execute("SHOW DATABASES")
        databases = [row[0] for row in cursor]

        if db_name in databases:
            print(f"Database '{db_name}' created or already exists.")
        else:
            print("Something went wrong. Database not found.")

Database 'library_test' created or already exists.

In [24]:
databases

['00_',
 '010825_AA',
 '010825_AL',
 '010825_ARSENII',
 '010825_Denis',
 '010825_Illia',
 '010825_KV',
 '010825_LK',
 '010825_LKT',
 '010825_LSV',
 '010825_SRV',
 '010825_STRK',
 '010825_Vladimir156651',
 '010825_abalmas',
 '010825_gaskarov',
 '010825_kateryna',
 '010825_ptm_Dmytro',
 '01112024_dam_DilNatalia',
 '020625_Davydchenko',
 '020625_IRYNAR',
 '020625_KLEIN',
 '020625_KUIN',
 '020625_MAKSAKOVAANNA',
 '020625_NAUMOVANTON',
 '020625_POMIATIKHINAMARIIA',
 '020625_SURZHENKO',
 '020625_Srapian_Lamara',
 '020625_alisiia_bisilova',
 '020625_churish',
 '030325_AKIR',
 '030325_BAR',
 '030325_BOM',
 '030325_Churish',
 '030325_Dmitriy',
 '030325_InaRus',
 '030325_Iryna',
 '030325_KhaIR',
 '030325_Liliya',
 '030325_MOR',
 '030325_MyClass',
 '030325_STR',
 '030325_Vesna',
 '030325_dam_ClassWork',
 '03072025_Prokofeva',
 '041124_FEDIK',
 '041124_Petrishchev',
 '041124_Ukhach',
 '041124_Yasynetska',
 '041124_Zolotukhin',
 '050824_AW',
 '06022024_Max',
 '06122024_Max_Bike',
 '06122024_Max_Taxi',
 '06122024_sakila',
 '061224_Alex',
 '061224_Alex_taxi',
 '061224_dam_Katsiaryna_Bazarova',
 '08082025_Savych_Tetiana',
 '080825_Albina',
 '080825_Anastasiia_Dubovyk',
 '080825_Andrii',
 '080825_Filonenko_Anna',
 '080825_Halimova',
 '080825_Kolmakova_Lena',
 '080825_Max',
 '080825_Viktoriia_Hliebova',
 '080825_test_db',
 '080825_test_vik',
 '091224_ALex_air_transp',
 '091224_django_kanevsky',
 '091224_transport_mvp',
 '091224ptm_Aleksandr',
 '091224ptm_Ana',
 '091224ptm_Mihail',
 '091224ptm_ShkarupaAS',
 '091224ptm_Zashalovskiy',
 '091224ptm_airline_Mihail',
 '100125_Hiunter',
 '100125_OksanaB',
 '100125dam_ElenaStakun',
 '100125dam_Hanna_Demko',
 '100125dam_JulianAn',
 '100125dam_Kseniia',
 '100125dam_Losik',
 '100125dam_MariiaK',
 '100125dam_Michael_Gris',
 '100125dam_NataliaSauer',
 '100125dam_OksanaKr',
 '100125dam_Oleksandr',
 '100125dam_Olena_Ivanchenko',
 '100125dam_OlgaPashuk',
 '100125dam_Olha_Shpilinska',
 '100125dam_Shpilinska_Olha',
 '100125dam_SofiiaPashchenko',
 '100125dam_TetianaN',
 '100125dam_Tory',
 '100125dam_Viktoriia_od',
 '100125dam_VitaliiIsakov',
 '100125dam_YevheniiaHrabovenko',
 '100125dam_ilya',
 '110425_Aieksieieva',
 '110425_Hordiienko',
 '110425_Inyakin',
 '110425_Ivanova_H',
 '110425_KENESHBEK',
 '110425_Klishchova',
 '110425_Kosenko',
 '110425_Kyselov',
 '110425_Lantsov',
 '110425_Lishchynska',
 '110425_Lugovska',
 '110425_Lugovska_banks',
 '110425_MAKEEVA',
 '110425_Nepomnyashchaya',
 '110425_Pysmenna',
 '110425_Reznikov',
 '110425_Semenchenko',
 '110425_Smulskyi',
 '110425_Smulskyi_banks',
 '110425_Veliieva',
 '110425_Vertelieva',
 '110425_kuvaeva',
 '110425_matsiuk',
 '110425_schleuse',
 '110425_sivash',
 '110425_varlamova',
 '111124_Dvornyk',
 '111124_Golubenko',
 '111124_Marshalova',
 '111124_Poliakov',
 '111124_Prudnikov_HousingRent',
 '111124_Prudnikov_V_HousingRent',
 '111124_Toyli_taxi',
 '111124_Vitali_logs',
 '111124_fp_AverkievD',
 '111124_fp_Kulykovska',
 '111124_mil_prod',
 '111124_test',
 '111124_toyli_taxi',
 '130625_AV',
 '130625_Ovsiannikova',
 '130625_Valeriia',
 '130625_ac',
 '130625_alex_ver',
 '130625_ar',
 '130625_de',
 '130625_hk',
 '130625_nk',
 '130625_ob',
 '130625_od',
 '130625_ok',
 '130625_oks',
 '130625_tam',
 '130625_tf',
 '130625_vm',
 '131224_Gert',
 '131224_Istratii',
 '131224_Kolobova',
 '131224_Kontsiialova',
 '131224_Koriahin',
 '131224_Korzhanov',
 '131224_Kozak',
 '131224_Kushnir',
 '131224_Leshchenko',
 '131224_Maier',
 '131224_Nahirniak',
 '131224_Narizhnyi',
 '131224_Norman',
 '131224_Petrishchev',
 '131224_Prekrasnaya',
 '131224_Rechyn',
 '131224_Sadvakassov',
 '131224_Schulz',
 '131224_Tsoka',
 '131224_Zarnytskyi',
 '131224_Zhusupov',
 '150424_wdm_Olha_B',
 '151124_EA_sakila',
 '151124_EA_taxi',
 '151124_Nechaeva_search_logs',
 '151124_Oleksandra',
 '151124_SA',
 '151124_SY',
 '151124_SearcFILm_SHI',
 '151124_Sohibjon',
 '160924FP_dmytr0',
 '16122024_Kardenas',
 '161224_B_Diana',
 '161224_Diana_B',
 '161224_Oksana_Y',
 '17022025_Schulz_temp_lib',
 '170225_AnK',
 '170225_BAR',
 '170225_Chumachenko',
 '170225_DET',
 '170225_Dro',
 '170225_Dromova',
 '170225_Gruppa_1',
 '170225_Iryna',
 '170225_LYSOTA',
 '170225_Liud_Burkova',
 '170225_Luiza_Khazieva',
 '170225_Lysota',
 '170225_Marchenko',
 '170225_MarchenkoV',
 '170225_Merovin',
 '170225_Natalia',
 '170225_Novakov',
 '170225_Ponomarenko',
 '170225_Posokhova',
 '170225_Posokhovaa',
 '170225_Sapozhnikova',
 '170225_Schulz',
 '170225_Serebrenikova',
 '170225_Tertyshnikova',
 '170225_ViShev',
 '170225_YOUR_NAME',
 '202526_f',
 '2025_Bruks',
 '210225_Boiko',
 '210225_Borenko',
 '210225_Buievskyi',
 '210225_Galushka',
 '210225_Hordiien',
 '210225_Kalimbet',
 '210225_Khatuev',
 '210225_Knysh',
 '210225_Kudriashov',
 '210225_Lebedieva',
 '210225_Nosenko',
 '210225_Pankow',
 '210225_Petrov',
 '210225_Petruk',
 '210225_Platonova',
 '210225_Platonova_django_HW7_8',
 '210225_Platonova_market',
 '210225_Proskurenko',
 '210225_Zhernovoi',
 '210225_bookstore_Lebedieva',
 '210225_bookstore_kovalchuk',
 '210225_bookstore_lebedieva',
 '210225_kovalchuk',
 '210225_schwab',
 '210255_Pankow_book_store',
 '230525_MAKEEVA',
 '230525_Rohova',
 '240125_Jafarov',
 '240125_MalaiM',
 '240125_MichaelB',
 '240125_Pavel',
 '240125_RUSLAN',
 '240125_Ryzhenko',
 '250425_ALomonos',
 '250425_Alena',
 '250425_Artem',
 '250425_Cherednyk',
 '250425_Georgiy',
 '250425_Hrecko',
 '250425_Hrytsenko',
 '250425_Irada',
 '250425_Kamilla',
 '250425_Kateryna',
 '250425_Kotenko',
 '250425_Moreb',
 '250425_Nina',
 '250425_Nosov',
 '250425_Olga',
 '250425_Pakhomova',
 '250425_PohribniakM',
 '250425_Rempel',
 '250425_Sergii',
 '250425_Ursulian',
 '250425_Vladimir',
 '250425_davit',
 '250425_group',
 '250425_group2',
 '250425_group_Nick98',
 '250425_group_relationships',
 '250425_groupm',
 '250425_oleksandra',
 '250425_raisa',
 '250425_svetlanaRy',
 '250426_group',
 '260824_ArtemB',
 '260824_ArtemN',
 '260824_Doychev',
 '260824_ElenaY',
 '260824_Evgenia',
 '260824_Pyhtina',
 '280225-wdm',
 '280225-wdm-Alona_Horbunova',
 '280225-wdm-Kristina_Schmidt',
 '280225-wdm-Roman',
 '280225_wdm_Anastasiia',
 '280225_wdm_Anita',
 '280225_wdm_Bibikova',
 '280225_wdm_Dmitriy_B',
 '280225_wdm_KS',
 '280225_wdm_Liga',
 '280225_wdm_Mai',
 '280225_wdm_Maksym',
 '280225_wdm_Naumenko',
 '280225_wdm_Yakovenko',
 '281024_888',
 '281024_Pomazan',
 '281024_VL',
 '281024_anastasiia',
 '281024_azamat',
 '281024_daniel',
 '281024_daniela',
 '281024_nataliia',
 '281024_panukhnyk',
 '281024_roienko',
 '281024_ruslan',
 '281024_viacheslav',
 '281024_vladimir',
 '300924_Subbotin',
 '300924_Subbotina_Natalia',
 'Alex_fahrrad',
 'Alex_taxi',
 'Anastasiia_Filonenko',
 'Anastasiia_Ihnatkova',
 'Averkiev_Project',
 'Bibikova',
 'Biesiedina_newDB',
 'Buble',
 'ComputerProductsOleksandra',
 'Customers',
 'DB_write',
 'DUBI',
 'DUBI_L4',
 'Di',
 'ER_DB',
 'ER_DIAGRAM',
 'FaimanNataliia',
 'Fink_Igor',
 'Hromyko_S',
 'IRYNAR_use',
 'KVS',
 'Kliuiko_O',
 'L4',
 'L4_1',
 'L4_11',
 'L4_111',
 'L4_1_Katharina',
 'L4_1_Katharina_text',
 'L4_1y',
 'L4_n1',
 'L54_1',
 'LIBRARY_DMYTRONOVAKOV_170225',
 'Lebetko_taxi',
 'Libraby_HW_13',
 'Library_HW_13',
 'MITW',
 'Marinka_new_database',
 'Marinka_taxi',
 'MarynaKorenak',
 'Maryna_Korenak',
 'NEW',
 'NEW_DATABASE',
 'NEW_DB',
 'NEW_DB_Kliuiko',
 'NEW_L4',
 'NR_db',
 'NR_db_airlines',
 'NR_db_bike_rentals',
 'NR_db_taxi',
 'Oleksandr_Kiselov_poject',
 'Omelchenko_new_database',
 'OnlineStore',
 'PT',
 'Parkhat_new_database',
 'Parkhat_taxi',
 'Prais',
 'QuietLaw',
 'STO_BOND_050825',
 'STO_BOND_3003',
 'Sakila_Aleksandr',
 'SalesDB',
 'SchoolDatabase',
 'Shchukin_091224_ptm',
 'StanislavTaxi',
 'Statistics_Queries_Movies',
 'Store',
 'Svitla_vratova',
 'TEST',
 'TEST123321',
 'TEST_EA',
 'TMP_050824_AK',
 'TMP_050824_TAT',
 'TMP_050824_Tsviatkova',
 'TaxiService',
 'TaxiService_AlenaFalke',
 'TaxiService_Marika',
 'TaxiService_VD',
 'TaxiService_VDi',
 'Taxi_',
 'Taxi_DB_new',
 'Taxi_Dorves',
 'Taxi_Frenz',
 'Taxi_Marika',
 'Taxi_Vladimir',
 'Taxi_service',
 'Taxi_tat',
 'Taxik',
 'Test',
 'Test_schema',
 'Tetiana_new_database',
 'Tetiana_taxi',
 'TonySopranoDB',
 'Training',
 'Training_12',
 'Training_13',
 'Training_18',
 'TransportCompany',
 'Trotskaya_111124',
 'UNSERE',
 'USE 090924_Serjio',
 'Unser',
 'UnserS',
 'Urna',
 'Viacheslav_Bandylo',
 'Viera_Disterheft',
 'Vladimir_Z_INTERNET_SHOP_13',
 'Vladimir_Z_TAXI',
 'Vladimir_Z_new_database',
 'Vladyslav_Habelko',
 'WDE240125_mark_kozov',
 'WEATHER_iNNA_SH',
 'WORLD_KUHN',
 'Wadim_taxi_database',
 'Weather',
 'Weather_in_Hamburg',
 'Webengineering2025HW8',
 'Y_Andrii_Butov_DJANGO_FINAL',
 'Yuliia_Lebetko_new_database',
 'Yuliia_Lebetko_project',
 'Yuniou_300924',
 'YurdoyData',
 'Yuriy_Maritime_logistic',
 'Yuriy_Maritime_logistics',
 'Yuriy_Taxi',
 'Yuriy_new_database',
 'Yuzhnyi',
 'Zielseite',
 'aaa_300924',
 'agile_projects',
 'airport',
 'alchemy_lesson',
 'allusers',
 'anna_kandyba',
 'atlas_board',
 'azamat_db',
 'banks_0107',
 'banks_100125dam_Krasnokutskij',
 'banks_110425',
 'banks_dam100125_Group2',
 'banks_test',
 'base_777',
 'book_store',
 'book_store_210255_Pankow',
 'booking_db_allavin',
 'booking_finally_project_ayjemal',
 'bookstore',
 'bookstore_210225_proskurenko',
 'bookstore_210225_schwab',
 'bookstore_petruk',
 'bookstore_platonova',
 'bublehuble',
 'comm_pulse',
 'community_pulse',
 'community_pulse_Ana',
 'community_pulse_Kanevsky',
 'community_pulse_Zashalovskyi',
 'community_pulse_shkarupaa',
 'company_CVS',
 'company_db',
 'computer_firm',
 'cp',
 'database_Taxi',
 'database_development_dmitrii',
 'db_sql_tutorial',
 'de_161224',
 'django_library',
 'django_library_sergii',
 'elnur_ahadov_300924',
 'emp_adi',
 'employees',
 'employees adil',
 'group1_Hrabovenko',
 'group1_isakov',
 'group1_timakin',
 'group_111124_fp_AlexSidorenko',
 'group_111124_fp_Alla_Vinogradova',
 'group_111124_fp_AyjeamlB',
 'group_111124_fp_Dvornyk_Olha',
 'group_111124_fp_Elena_Marshalova',
 'group_111124_fp_GolubenkoA',
 'group_111124_fp_Klymentii_Taran',
 'group_111124_fp_Kulykovska',
 'group_111124_fp_Poliakov',
 'group_111124_fp_Starodubov_Oleksii',
 'group_111124_fp_Toyli_Annayev',
 'group_111124_fp_Vadym_Prudnikov',
 'group_111124_fp_Vitalijs_Filipovs',
 'group_111124_fp_Yevgeniy_Guta',
 'group_111124_fp_ilya_korovkin',
 'group_111124_fp_milo',
 'group_111124_fp_milo_stats',
 'group_111124_fp_miloz',
 'halyna_yurkova',
 'housing_rental',
 'housing_rental_210225_Kalimbet',
 'hr',
 'ich_edit',
 'imdb',
 'information_schema',
 'job_listings',
 'job_listings_g',
 'json_exercise',
 'kad',
 'kad_shop_demo',
 'kopan',
 'kvest',
 'l_03_050324',
 'lesson2',
 'lesson3',
 'lesson5Alex',
 'lesson5_shults',
 'lesson6',
 'lesson_1',
 'lesson_4',
 'lesson_45',
 'lesson_5',
 'lesson_51',
 'lesson_5_hahn',
 'lesson_6',
 'lesson_6HAZE',
 'lesson_6_Kuhn',
 'lesson_6_hahn',
 'lesson_triggers',
 'lessons5_KUHN',
 'library',
 'library_010724',
 'library_100125_3',
 'library_100125damGr2_Krasnokutskij',
 'library_100125dam_Hrabovenko',
 'library_100125dam_Ivanchenko',
 'library_100125dam_Shpilinska',
 'library_100125dam_group2',
 'library_100125dam_group21',
 'library_110425_VK',
 'library_170225_Khazieva',
 'library_170225_det',
 'library_3',
 'library_3_100125',
 'library_AnnaSerebrenikova_170225',
 'library_AnyaKurgak_170225',
 'library_Chumachenko_170225',
 'library_HalynaDromova_170225',
 'library_Hlushchenko_170225',
 'library_IrynaSapozhnikova_170225',
 'library_MarVi_170225',
 'library_MarViktoriia_170225',
 'library_NATALIIA_FAIMAN_170225',
 'library_OlgaPashuk',
 'library_OlhaKrasovska_170225',
 'library_Ponomarenko_Oleg_170225',
 'library_Posokhova_170225',
 'library_Yurii_170225',
 'library_bar_050824',
 'library_group1_Zakharchenko',
 'library_group1_hiunter',
 'library_group1_isakov',
 'library_group1_sauer',
 'library_group1_stakun',
 'library_group1_timakin',
 'library_group1_veremeeva',
 'library_group1_zakharchenko',
 'library_tat_050824',
 'library_test',
 'market',
 'market_250425',
 'market_250425_alena',
 'market_250425_oleksandra',
 'market_Gusev_aug_5',
 'miet_system',
 'mit_halyna',
 'movie_db',
 'movies',
 'movies_Anastasiia',
 'movies_Elena',
 'movies_Inna',
 'movies_OlenaF',
 'movies_dieter',
 'movies_kpushkin',
 'mshel_160924_search_film',
 'my_Kull',
 'my_bd',
 'my_database',
 'my_database_test',
 'my_django_db',
 'my_libtaty',
 'my_project_db',
 'my_taxi_gt',
 'my_weather_db',
 'mydatabase',
 'mydb',
 'mysql',
 'mystudents',
 'name',
 'name_170225_MarchenkoYuliia_database',
 'neuro_track',
 'new',
 'new_Base_Alina_kvitka',
 'new_base_RO',
 'new_database_',
 'new_passport',
 'new_schema',
 'new_schema1',
 'new_test',
 'nordwind',
 'northwind',
 'notes_app',
 'notes_app_210225_Buievskyi',
 'notes_app_210225_Kalimbet_Oleg',
 'notes_app_210225_Oleksandr_Kovalchuk',
 'notes_app_210225_Platonova',
 'notes_app_210225_Proskurenko',
 'notes_app_210225_Zhernovoi',
 'notes_app_210225_petruk',
 'notes_app_210225_ptm_Oleksandr_Petrov',
 'notes_app_210225_ptm_daniil_boiko',
 'notes_app_210225_schwab',
 'notes_app_250425_oleksandra',
 'notes_app_250425_ptm_Galushka_Sergey',
 'od_db',
 'od_rent',
 'olga_base',
 'online_shop',
 'online_shop_MM091224',
 'online_store',
 'online_us_store',
 'performance_schema',
 'person',
 'persons',
 'positive_new_database',
 'product_db',
 'product_db_dmitrii',
 'project130524_margo',
 'project_130524_Ivanna',
 'project_130524_svitlana_u',
 'project_220424_Roman_Tarasenko',
 'project_220424_oskolkov',
 'project_220424_ptm_Alexander_Tutubalin',
 'project_220424_ptm_Kostiantyn_Peihan',
 'project_220424_ptm_Kutuzova',
 'project_220424_ptm_Natalija_Zubko',
 'project_220424_ptm_YuliiaH',
 'project_220424ptm_Aidana_Latifova',
 'project_220424ptm_AnarA',
 'project_220424ptm_OShevtsov',
 'project_220424ptm_Olessya_Moisseyenko',
 'project_220424ptm_Vasiliy_Gubenkov',
 'project_220424ptm_Volodymyr_K',
 'project_Django_Latifova',
 'project_Sakila_Wadim',
 'project_YanaK',
 'ptm_290724_fd_kirill',
 'query_grigoryev',
 'rabota',
 'real_estate_db',
 'rem_library',
 'rent_booking',
 'rent_dream',
 'rental_housing_AG',
 'rental_platform_310524',
 'rental_system_3',
 'rental_system_db',
 's_spivak',
 'sakila',
 'sakila_111124_fp_group',
 'sakila_search_log_bezruchko',
 'sakilatest',
 'school',
 'search_history',
 'search_insights',
 'search_log',
 'search_logs',
 'search_logs1',
 'search_logs2',
 'searches_Shery',
 'sec',
 'shop',
 'shop_db',
 'shopdb',
 'shults_les13',
 'shults_lesson_6',
 'social_blogs',
 'social_blogs_shchukin',
 'sql_arman_hr',
 'stay_wise',
 'store',
 'students',
 'students_11',
 'students_1K',
 'sumarokovav_300924',
 'sys',
 'tanya_serdjuk',
 'taxi',
 'taxi_Artur',
 'taxi_Bond',
 'taxi_Bond_050824',
 'taxi_Valerii',
 'taxi_fast_290124',
 'taxi_service',
 'taxi_service_Romeo',
 'test',
 'test123',
 'test_011124',
 'test_2',
 'test_222',
 'test_drop',
 'test_teacher',
 'test_time',
 'testnewnew',
 'time',
 'tmp_050824_AL_TZ',
 'tt_test',
 'uni',
 'user_db',
 'users',
 'users_storage',
 'venera',
 'viktoria_fat_db',
 'viktoria_q_db',
 'wadims_database',
 'wde240125_E_new',
 'wde240125_Ella',
 'wde240125_MARK_KOZOV',
 'wde240125_MihailM',
 'wdhw7',
 'weather',
 'week13_Aleksandr',
 'week13_auto_ALex',
 'week13_avtos',
 'week_13_company',
 'week_13_passport',
 'week_13_passport_new',
 'week_13_school',
 'week_5',
 'world',
 'world_boro_5',
 'world_shults',
 'xdatabase',
 'имя_вашей_базы_данных']

2. **Создание таблиц для данных библиотеки**  
Расширьте предыдущую программу: после создания базы данных library, создайте в ней три таблицы:  
* books — для хранения информации о книгах;
* users — для информации о пользователях
* reading — для информации о выданных правах на чтение.
    
Код для создания таблиц: 
```
books_query = """
   CREATE TABLE IF NOT EXISTS books (
       id INT PRIMARY KEY,
       title VARCHAR(200),
       author VARCHAR(100),
       price DECIMAL(10, 2)
   )
"""

users_query = """
   CREATE TABLE IF NOT EXISTS users (
       id INT PRIMARY KEY,
       username VARCHAR(100),
       firstname VARCHAR(100),
       lastname VARCHAR(100),
       country VARCHAR(100)
   )
"""

reading_query = """
   CREATE TABLE IF NOT EXISTS reading (
       id INT AUTO_INCREMENT PRIMARY KEY,
       userid INT,
       bookid INT,
       readingyear INT
   )
"""
```
После создания таблиц выведите список всех таблиц в текущей базе.
Пример вывода:   
```
Tables in 'library_...':
- books
- users
- reading
```

In [25]:
books_query = """
   CREATE TABLE IF NOT EXISTS books (
       id INT PRIMARY KEY,
       title VARCHAR(200),
       author VARCHAR(100),
       price DECIMAL(10, 2)
   )
"""

users_query = """
   CREATE TABLE IF NOT EXISTS users (
       id INT PRIMARY KEY,
       username VARCHAR(100),
       firstname VARCHAR(100),
       lastname VARCHAR(100),
       country VARCHAR(100)
   )
"""

reading_query = """
   CREATE TABLE IF NOT EXISTS reading (
       id INT AUTO_INCREMENT PRIMARY KEY,
       userid INT,
       bookid INT,
       readingyear INT
   )
"""

with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        # Шаг 2 — создать таблицы
        cursor.execute(f"USE {db_name}")

        cursor.execute(books_query)
        cursor.execute(users_query)
        cursor.execute(reading_query)

        # Вывод списка таблиц
        cursor.execute("SHOW TABLES")
        tables = [row[0] for row in cursor]

        print(f"Tables in '{db_name}':")
        for table in tables:
            print(f"- {table}")

Tables in 'library_test':
- books
- reading
- users

3. **Загрузка данных из файлов**  
Прочитайте файлы books.csv, users.csv, readingyear.csv. Перенесите данные из этих файлов в созданные таблицы БД. В случае успешного завершения операции программа должна вывести сообщение о количестве перенесенных записей.
Пример файла book.csv:   
ID,Title,Author,Price  
3823,The Code Breaker,Walter Isaacson,0.03  
8561,The Secret History,Donna Tartt,0.36  
Пример вывода:   
2 books loaded.

In [26]:
import csv

# Функция для чтения данных из CSV-файла
def read_csv_file(file_path):
    data = []
    with open(file_path, mode='r') as file:
        csv_reader = csv.reader(file)
        next(csv_reader)  # Пропускаем заголовок
        for row in csv_reader:
            data.append(tuple(row))
    return data

# Чтение данных из CSV-файлов
books_data = read_csv_file('books.csv')
users_data = read_csv_file('users.csv')
reading_data = read_csv_file('readingyear.csv')

# Подключение к серверу MySQL
with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute(f"USE {db_name}")
        # Вставка данных в таблицу books
        books_query = "INSERT INTO books (id, title, author, price) VALUES (%s, %s, %s, %s)"
        cursor.executemany(books_query, books_data)

        # Вставка данных в таблицу users
        users_query = "INSERT INTO users (id, username, firstname, lastname, country) VALUES (%s, %s, %s, %s, %s)"
        cursor.executemany(users_query, users_data)

        # Вставка данных в таблицу reading
        reading_query = "INSERT INTO reading (userid, bookid, readingyear) VALUES (%s, %s, %s)"
        cursor.executemany(reading_query, reading_data)

        # Подтверждение изменений
        connection.commit()

        # Вывод количества перенесенных записей
        print(f"{len(books_data)} books loaded.")
        print(f"{len(users_data)} users loaded.")
        print(f"{len(reading_data)} reading records loaded.")

55 books loaded.
50 users loaded.
149 reading records loaded.

In [27]:
reading_data

[('8233', '7492', '2025'),
 ('5155', '8300', '2021'),
 ('3181', '221', '2023'),
 ('4969', '2064', '2024'),
 ('6582', '4647', '2022'),
 ('2770', '953', '2024'),
 ('3982', '7808', '2024'),
 ('6582', '5120', '2021'),
 ('479', '1821', '2021'),
 ('2826', '7864', '2023'),
 ('1944', '4676', '2020'),
 ('7889', '4022', '2022'),
 ('4122', '4134', '2023'),
 ('2629', '7011', '2024'),
 ('9395', '2064', '2025'),
 ('67', '9829', '2025'),
 ('5892', '7011', '2022'),
 ('6661', '4022', '2021'),
 ('2770', '1008', '2024'),
 ('1810', '6920', '2022'),
 ('515', '7001', '2021'),
 ('1944', '8903', '2022'),
 ('7821', '1821', '2025'),
 ('6661', '6', '2025'),
 ('2629', '9376', '2024'),
 ('515', '4134', '2024'),
 ('5155', '6', '2020'),
 ('5892', '1008', '2021'),
 ('893', '9474', '2022'),
 ('7889', '221', '2021'),
 ('2006', '5174', '2024'),
 ('4122', '3823', '2024'),
 ('515', '7864', '2020'),
 ('4969', '167', '2024'),
 ('207', '9697', '2022'),
 ('4307', '7011', '2025'),
 ('6864', '9849', '2023'),
 ('6753', '7492', '2021'),
 ('6749', '221', '2021'),
 ('8233', '5174', '2022'),
 ('2826', '7808', '2023'),
 ('527', '7001', '2023'),
 ('6939', '2308', '2023'),
 ('479', '1117', '2021'),
 ('4825', '7808', '2021'),
 ('4122', '9829', '2025'),
 ('1467', '9849', '2023'),
 ('8233', '221', '2023'),
 ('3749', '6920', '2021'),
 ('5155', '4850', '2025'),
 ('8233', '9849', '2022'),
 ('527', '3552', '2021'),
 ('6410', '2064', '2024'),
 ('527', '1783', '2022'),
 ('1911', '8707', '2022'),
 ('527', '6', '2020'),
 ('1944', '1922', '2020'),
 ('843', '8300', '2022'),
 ('6661', '1905', '2020'),
 ('7821', '6484', '2022'),
 ('3982', '4850', '2021'),
 ('7821', '8007', '2020'),
 ('5892', '8926', '2024'),
 ('4969', '6691', '2024'),
 ('1367', '4850', '2023'),
 ('7821', '8926', '2020'),
 ('6864', '9849', '2024'),
 ('8233', '9592', '2024'),
 ('1810', '7808', '2023'),
 ('6410', '5174', '2025'),
 ('6939', '7734', '2023'),
 ('8665', '8903', '2024'),
 ('6582', '7011', '2020'),
 ('6753', '7808', '2022'),
 ('1944', '5465', '2023'),
 ('6864', '4134', '2021'),
 ('2826', '6920', '2025'),
 ('6582', '4134', '2025'),
 ('4307', '167', '2022'),
 ('3181', '2308', '2020'),
 ('8233', '1117', '2025'),
 ('6614', '4850', '2022'),
 ('207', '8903', '2023'),
 ('5176', '8561', '2021'),
 ('5155', '3552', '2020'),
 ('1467', '6920', '2024'),
 ('3181', '2142', '2021'),
 ('2629', '4996', '2024'),
 ('1227', '1117', '2023'),
 ('5892', '9829', '2024'),
 ('6939', '6691', '2023'),
 ('893', '8982', '2024'),
 ('2770', '6920', '2023'),
 ('8107', '953', '2024'),
 ('527', '5465', '2023'),
 ('3181', '9376', '2020'),
 ('5892', '6716', '2024'),
 ('8665', '8300', '2025'),
 ('4969', '3823', '2020'),
 ('4975', '8903', '2020'),
 ('4307', '6484', '2023'),
 ('431', '6920', '2022'),
 ('6749', '9335', '2021'),
 ('9717', '9829', '2023'),
 ('8233', '9474', '2025'),
 ('4975', '7011', '2025'),
 ('4969', '9829', '2025'),
 ('8107', '6484', '2020'),
 ('4825', '9697', '2023'),
 ('7889', '7864', '2024'),
 ('9717', '9335', '2022'),
 ('1152', '4676', '2021'),
 ('1227', '1783', '2024'),
 ('4975', '6716', '2025'),
 ('843', '6484', '2021'),
 ('5155', '7368', '2024'),
 ('2770', '6', '2023'),
 ('527', '2064', '2022'),
 ('8620', '7864', '2020'),
 ('4307', '7864', '2021'),
 ('7889', '1905', '2025'),
 ('4307', '7734', '2021'),
 ('6864', '9697', '2024'),
 ('6864', '5120', '2025'),
 ('1944', '9474', '2024'),
 ('5155', '8707', '2024'),
 ('8665', '5120', '2024'),
 ('843', '2142', '2024'),
 ('479', '953', '2021'),
 ('9395', '7734', '2021'),
 ('8233', '9474', '2023'),
 ('7821', '4676', '2025'),
 ('4307', '9829', '2020'),
 ('4307', '2064', '2023'),
 ('843', '4996', '2022'),
 ('5155', '1117', '2020'),
 ('8107', '2064', '2020'),
 ('7821', '9474', '2024'),
 ('2006', '6', '2024'),
 ('9717', '8707', '2023'),
 ('3982', '8163', '2020'),
 ('1911', '7011', '2025'),
 ('6939', '6691', '2022'),
 ('1152', '4647', '2020'),
 ('8665', '4134', '2025'),
 ('4975', '8707', '2020'),
 ('4969', '4134', '2024'),
 ('479', '7492', '2020'),
 ('1810', '7001', '2020')]

4. **Проверка загрузки данных**  
Подключитесь к созданной и заполненной базе данных. Выполните следующие запросы и выведите результаты в консоль:  
* Количество записей в таблице books.
* Первые 10 записей в таблице users.
* Записи таблицы readingyear за 2025 год.
  
Пример вывода: 
Количество записей в таблице books: 55

Первые 10 записей в таблице users:
```
(67, 'jone', 'Anna', 'Jones', 'Dresden')
(207, 'da', 'David', 'Doe', 'Tokyo')
(431, 'jamesdo', 'James', 'Doe', 'Sydney')
...
```
Записи таблицы reading за 2025 год:
```
(51, 8233, 7492, 2025)
(65, 9395, 2064, 2025)
(66, 67, 9829, 2025)
...
```

In [28]:
with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute(f"USE {db_name}")
        # Количество записей в таблице books
        cursor.execute("SELECT COUNT(*) FROM books")
        books_count = next(cursor)[0]
        print(f"Количество записей в таблице books: {books_count}")

        # Первые 10 записей в таблице users
        cursor.execute("SELECT * FROM users LIMIT 10")
        print("\nПервые 10 записей в таблице users:")
        for record in cursor:
            print(record)

        # Записи таблицы reading за 2025 год
        cursor.execute("SELECT * FROM reading WHERE readingyear = 2025")
        print("\nЗаписи таблицы reading за 2025 год:")
        for record in cursor:
            print(record)

Количество записей в таблице books: 55

Первые 10 записей в таблице users:
(67, 'jone', 'Anna', 'Jones', 'Dresden')
(207, 'da', 'David', 'Doe', 'Tokyo')
(431, 'jamesdo', 'James', 'Doe', 'Sydney')
(479, 'dawilson', 'Dan', 'Wilson', 'London')
(515, 'jjon', 'James', 'Jones', 'Boston')
(527, 'smi', 'Olha', 'Smith', 'Boston')
(843, 'jjjj', 'James', 'Johnson', 'Berlin')
(893, 'maryw', 'Mary', 'Wilson', 'Dresden')
(1152, 'dajone', 'David', 'Jones', 'Berlin')
(1227, 'sopwi', 'Sophia', 'Williams', 'Tokyo')

Записи таблицы reading за 2025 год:
(1, 8233, 7492, 2025)
(15, 9395, 2064, 2025)
(16, 67, 9829, 2025)
(23, 7821, 1821, 2025)
(24, 6661, 6, 2025)
(36, 4307, 7011, 2025)
(46, 4122, 9829, 2025)
(50, 5155, 4850, 2025)
(70, 6410, 5174, 2025)
(77, 2826, 6920, 2025)
(78, 6582, 4134, 2025)
(81, 8233, 1117, 2025)
(98, 8665, 8300, 2025)
(105, 8233, 9474, 2025)
(106, 4975, 7011, 2025)
(107, 4969, 9829, 2025)
(114, 4975, 6716, 2025)
(121, 7889, 1905, 2025)
(124, 6864, 5120, 2025)
(132, 7821, 4676, 2025)
(142, 1911, 7011, 2025)
(145, 8665, 4134, 2025)

5. **Поиск авторов**   
Напишите функцию, которая запрашивает у пользователя имя автора (можно ввести полное имя или его часть) и выводит все записи из таблицы books, где есть совпадение с вводом пользователя.
Пример ввода:   
Введите имя автора (или его часть):  leo  

Пример вывода:   
Подходящие книги:  
ID: 1905, Title: Anna Karenina, Author: Leo Tolstoy, Price: 0.32  
ID: 9829, Title: War and Peace, Author: Leo Tolstoy, Price: 0.59

In [29]:
def search_books_by_author(author_name):
    # Подключение к серверу MySQL
    with pymysql.connect(**config) as connection:
        with connection.cursor() as cursor:
            cursor.execute(f"USE {db_name}")
            # Запрос имени автора у пользователя
            #author_name = input("Введите имя автора (или его часть): ")

            # SQL-запрос для поиска книг по имени автора
            query = """
                SELECT id, title, author, price
                FROM books
                WHERE author LIKE %s
            """
            cursor.execute(query, ('%' + author_name + '%',)) # LIKE '%leo%'

            # Вывод результатов
            count = 0
            print("\nПодходящие книги:")
            for row in cursor:
                print(f"ID: {row[0]}, Title: {row[1]}, Author: {row[2]}, Price: {row[3]}")
                count += 1
            if count == 0:
                print("не найдены.")

# Вызов функции
author_name = input("Введите имя автора (или его часть): ")
search_books_by_author(author_name)

Введите имя автора (или его часть):  leo

Подходящие книги:
ID: 1905, Title: Anna Karenina, Author: Leo Tolstoy, Price: 0.32
ID: 9829, Title: War and Peace, Author: Leo Tolstoy, Price: 0.59

6. **Поиск пользователей и книг, которые они читали**   
Напишите функцию, которая запрашивает у пользователя имя клиента библиотеки (можно ввести полное имя или фамилию или их часть) и выводит все записи из базы данных о книгах, прочитанных подходящими клиентами.
Пример ввода:   
Введите имя клиента (или его часть):  jon  
Пример вывода:   
Клиенты и прочитанные ими книги:  

Клиент: Anna Jones  
ID: 9829, Title: War and Peace, Author: Leo Tolstoy, Year: 2025  

Клиент: James Jones  
ID: 7001, Title: The Kite Runner, Author: Khaled Hosseini, Year: 2021  
ID: 4134, Title: The Canterbury Tales, Author: Geoffrey Chaucer, Year: 2024  
ID: 7864, Title: Educated, Author: Tara Westover, Year: 2020  

Клиент: David Jones  
ID: 4676, Title: The Plot, Author: Jean Hanff Korelitz, Year: 2021  
ID: 4647, Title: The Girl on the Train, Author: Paula Hawkins, Year: 2020  

Клиент: Mary Jones  
не читал книг.

In [32]:
def search_books_by_client(client_name):
    # Подключение к серверу MySQL
    with pymysql.connect(**config) as connection:
        with connection.cursor() as cursor:
            cursor.execute(f"USE {db_name}")
            # Запрос имени клиента у пользователя
            #client_name = input("Введите имя клиента (или его часть): ")

            # SQL-запрос для поиска клиентов по имени
            query = """
                SELECT id, firstname, lastname
                FROM users
                WHERE firstname LIKE %s OR lastname LIKE %s
            """
            cursor.execute(query, ('%' + client_name + '%', '%' + client_name + '%'))
            user_list = [user for user in cursor]

            print("\nКлиенты и прочитанные ими книги:")
            for user in user_list:
                user_id = user[0]
                firstname = user[1]
                lastname = user[2]

                # SQL-запрос для поиска книг, прочитанных клиентом
                books_query = """
                    SELECT b.id, b.title, b.author, r.readingyear
                    FROM reading r
                    JOIN books b ON r.bookid = b.id
                    WHERE r.userid = %s
                """
                cursor.execute(books_query, (user_id,))

                count_books = 0
                print(f"\nКлиент: {firstname} {lastname}")
                for book in cursor:
                    count_books += 1
                    print(f"ID: {book[0]}, Title: {book[1]}, Author: {book[2]}, Year: {book[3]}")
                if count_books == 0:
                    print("не читал книг.")
            if len(user_list) == 0:
                print("не найдены.")

# Вызов функции
search_books_by_client()

Введите имя клиента (или его часть):  anna

Клиенты и прочитанные ими книги:

Клиент: Anna Jones
ID: 9829, Title: War and Peace, Author: Leo Tolstoy, Year: 2025

Клиент: Anna Brown
не читал книг.

Клиент: Anna Williams
ID: 1821, Title: The Four Winds, Author: Kristin Hannah, Year: 2025
ID: 6484, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Year: 2022
ID: 8007, Title: The Catcher in the Rye, Author: J.D. Salinger, Year: 2020
ID: 8926, Title: The Sun Also Rises, Author: Ernest Hemingway, Year: 2020
ID: 4676, Title: The Plot, Author: Jean Hanff Korelitz, Year: 2025
ID: 9474, Title: The Bone Shard Daughter, Author: Andrea Stewart, Year: 2024

In [36]:
user_id = 8233

with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute(f"USE {db_name}")
        books_query = """
                    SELECT b.id, b.title, b.author, r.readingyear
                    FROM reading r
                    JOIN books b ON r.bookid = b.id
                    WHERE r.userid = %s
                """
        cursor.execute(books_query, (user_id,))
        print(next(cursor))
        print(next(cursor))

(7492, "The Witch's Heart", 'Genevieve Gornichec', 2025)
(5174, 'Crime and Punishment', 'Fyodor Dostoevsky', 2022)