# Практические задания 18
* Лекция 36 - Парсинг веб-страниц
* Лекция 37 - MySQL и Python

1. **Парсинг данных**
> Извлеките данные с первых 10 страниц ресурса https://www.fdic.gov/bank-failures/failed-bank-list. Сохраните их в список строк таблицы. Выведите несколько произвольных строк.

*Пример вывода:*  
```
['The Woodbury Banking Company', 'Woodbury', 'Georgia', '11297', 'United Bank', 'August 19, 2016', '10521']
['First CornerStone Bank', 'King of Prussia', 'Pennsylvania', '35312', 'First-Citizens Bank & Trust Company', 'May 6, 2016', '10520']
['Trust Company Bank', 'Memphis', 'Tennessee', '9956', 'The Bank of Fayette County', 'April 29, 2016', '10519']
['North Milwaukee State Bank', 'Milwaukee', 'Wisconsin', '20364', 'First-Citizens Bank & Trust Company', 'March 11, 2016', '10518']
['Hometown National Bank', 'Longview', 'Washington', '35156', 'Twin City Bank', 'October 2, 2015', '10517']
```

In [9]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.fdic.gov/bank-failures/failed-bank-list'
data = []
for i in range(1,11):
    params = {'page': i}
    response = requests.get(url, params = params) # url+f'?pg={i}'      -> https://www.fdic.gov/bank-failures/failed-bank-list?pg=3

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')
        table = soup.find('table')
        rows = table.find_all('tr')
        for row in rows[1:]: # rows[1:] Игнорируем пустые строки вначале
            cols = row.find_all('td')
            row_data = [col.text.strip() for col in cols]
            data.append(row_data)
    else:
        print('Ошибка запроса к странице')

for row in data:
    print(row)

['Allied Bank', 'Mulberry', 'Arkansas', '91', "Today's Bank", 'September 23, 2016', '10522']
['The Woodbury Banking Company', 'Woodbury', 'Georgia', '11297', 'United Bank', 'August 19, 2016', '10521']
['First CornerStone Bank', 'King of Prussia', 'Pennsylvania', '35312', 'First-Citizens Bank & Trust Company', 'May 6, 2016', '10520']
['Trust Company Bank', 'Memphis', 'Tennessee', '9956', 'The Bank of Fayette County', 'April 29, 2016', '10519']
['North Milwaukee State Bank', 'Milwaukee', 'Wisconsin', '20364', 'First-Citizens Bank & Trust Company', 'March 11, 2016', '10518']
['Hometown National Bank', 'Longview', 'Washington', '35156', 'Twin City Bank', 'October 2, 2015', '10517']
['The Bank of Georgia', 'Peachtree City', 'Georgia', '35259', 'Fidelity Bank', 'October 2, 2015', '10516']
['Premier Bank', 'Denver', 'Colorado', '34112', 'United Fidelity Bank, fsb', 'July 10, 2015', '10515']
['Edgebrook Bank', 'Chicago', 'Illinois', '57772', 'Republic Bank of Chicago', 'May 8, 2015', '10514']
['Doral Bank', 'San Juan', 'Puerto Rico', '32102', 'Banco Popular de Puerto Rico', 'February 27, 2015', '10513']
['Capitol City Bank & Trust Company', 'Atlanta', 'Georgia', '33938', 'First-Citizens Bank & Trust Company', 'February 13, 2015', '10512']
['Highland Community Bank', 'Chicago', 'Illinois', '20290', 'United Fidelity Bank, fsb', 'January 23, 2015', '10511']
['First National Bank of Crestview', 'Crestview', 'Florida', '17557', 'First NBC Bank', 'January 16, 2015', '10510']
['Northern Star Bank', 'Mankato', 'Minnesota', '34983', 'BankVista', 'December 19, 2014', '10509']
['Frontier Bank, FSB D/B/A El Paseo Bank', 'Palm Desert', 'California', '34738', 'Bank of Southern California, N.A.', 'November 7, 2014', '10508']
['The National Republic Bank of Chicago', 'Chicago', 'Illinois', '916', 'State Bank of Texas', 'October 24, 2014', '10507']
['NBRS Financial', 'Rising Sun', 'Maryland', '4862', 'Howard Bank', 'October 17, 2014', '10506']
['GreenChoice Bank, fsb', 'Chicago', 'Illinois', '28462', 'Providence Bank, LLC', 'July 25, 2014', '10505']
['Eastside Commercial Bank', 'Conyers', 'Georgia', '58125', 'Community & Southern Bank', 'July 18, 2014', '10504']
['The Freedom State Bank', 'Freedom', 'Oklahoma', '12483', 'Alva State Bank & Trust Company', 'June 27, 2014', '10503']
['Valley Bank', 'Moline', 'Illinois', '10450', 'Great Southern Bank', 'June 20, 2014', '10502']
['Valley Bank', 'Fort Lauderdale', 'Florida', '21793', 'Landmark Bank, National Association', 'June 20, 2014', '10501']
['Slavie Federal Savings Bank', 'Bel Air', 'Maryland', '32368', 'Bay Bank, FSB', 'May 30, 2014', '10500']
['Columbia Savings Bank', 'Cincinnati', 'Ohio', '32284', 'United Fidelity Bank, fsb', 'May 23, 2014', '10499']
['AztecAmerica Bank', 'Berwyn', 'Illinois', '57866', 'Republic Bank of Chicago', 'May 16, 2014', '10498']
['Allendale County Bank', 'Fairfax', 'South Carolina', '15062', 'Palmetto State Bank', 'April 25, 2014', '10497']
['Vantage Point Bank', 'Horsham', 'Pennsylvania', '58531', 'First Choice Bank', 'February 28, 2014', '10496']
['Millennium Bank, National Association', 'Sterling', 'Virginia', '35096', 'WashingtonFirst Bank', 'February 28, 2014', '10495']
['Syringa Bank', 'Boise', 'Idaho', '34296', 'Sunwest Bank', 'January 31, 2014', '10494']
['The Bank of Union', 'El Reno', 'Oklahoma', '17967', 'BancFirst', 'January 24, 2014', '10493']
['DuPage National Bank', 'West Chicago', 'Illinois', '5732', 'Republic Bank of Chicago', 'January 17, 2014', '10492']
['Texas Community Bank, National Association', 'The Woodlands', 'Texas', '57431', 'Spirit of Texas Bank, SSB', 'December 13, 2013', '10491']
['Bank of Jackson County', 'Graceville', 'Florida', '14794', 'First Federal Bank of Florida', 'October 30, 2013', '10490']
["The Community's Bank", 'Bridgeport', 'Connecticut', '57041', 'No Acquirer', 'September 13, 2013', '10489']
['First National Bank also operating as The National Bank of El Paso', 'Edinburg', 'Texas', '14318', 'PlainsCapital Bank', 'September 13, 2013', '10488']
['Sunrise Bank of Arizona', 'Phoenix', 'Arizona', '34707', 'First Fidelity Bank, National Association', 'August 23, 2013', '10487']
['Community South Bank', 'Parsons', 'Tennessee', '19849', 'CB&S Bank, Inc.', 'August 23, 2013', '10486']
['Bank of Wausau', 'Wausau', 'Wisconsin', '35016', 'Nicolet National Bank', 'August 9, 2013', '10485']
['First Community Bank of Southwest Florida (also operating as Community Bank of Cape Coral)', 'Fort Myers', 'Florida', '34943', 'C1 Bank', 'August 2, 2013', '10484']
['Mountain National Bank', 'Sevierville', 'Tennessee', '34789', 'First Tennessee Bank, National Association', 'June 7, 2013', '10483']
['1st Commerce Bank', 'North Las Vegas', 'Nevada', '58358', 'Plaza Bank', 'June 6, 2013', '10482']
['Sunrise Bank', 'Valdosta', 'Georgia', '58185', 'Synovus Bank', 'May 10, 2013', '10481']
['Pisgah Community Bank', 'Asheville', 'North Carolina', '58701', 'Capital Bank, N.A.', 'May 10, 2013', '10480']
['Central Arizona Bank', 'Scottsdale', 'Arizona', '34527', 'Western State Bank', 'May 14, 2013', '10479']
['Banks of Wisconsin d/b/a Bank of Kenosha', 'Kenosha', 'Wisconsin', '35386', 'North Shore Bank, FSB', 'May 31, 2013', '10478']
['Parkway Bank', 'Lenoir', 'North Carolina', '57158', 'CertusBank, National Association', 'April 26, 2013', '10477']
['Douglas County Bank', 'Douglasville', 'Georgia', '21649', 'Hamilton State Bank', 'April 26, 2013', '10476']
['Heritage Bank of North Florida', 'Orange Park', 'Florida', '26680', 'FirstAtlantic Bank', 'April 19, 2013', '10475']
['First Federal Bank', 'Lexington', 'Kentucky', '29594', 'Your Community Bank', 'April 19, 2013', '10474']
['Chipola Community Bank', 'Marianna', 'Florida', '58034', 'First Federal Bank of Florida', 'April 19, 2013', '10473']
['Gold Canyon Bank', 'Gold Canyon', 'Arizona', '58066', 'First Scottsdale Bank, National Association', 'April 5, 2013', '10472']
['Frontier Bank', 'LaGrange', 'Georgia', '16431', 'HeritageBank of the South', 'March 8, 2013', '10471']
['Covenant Bank', 'Chicago', 'Illinois', '22476', 'Liberty Bank and Trust Company', 'February 15, 2013', '10470']
['1st Regents Bank', 'Andover', 'Minnesota', '57157', 'First Minnesota Bank', 'January 18, 2013', '10469']
['Westside Community Bank', 'University Place', 'Washington', '33997', 'Sunwest Bank', 'January 11, 2013', '10468']
['Community Bank of the Ozarks', 'Sunrise Beach', 'Missouri', '27331', 'Bank of Sullivan', 'December 14, 2012', '10467']
['Hometown Community Bank', 'Braselton', 'Georgia', '57928', 'CertusBank, National Association', 'November 16, 2012', '10466']
['Heritage Bank of Florida', 'Lutz', 'Florida', '35009', 'Community Bank and Trust', 'November 2, 2012', '10465']
['Citizens First National Bank', 'Princeton', 'Illinois', '3731', 'Heartland Bank and Trust Company', 'November 2, 2012', '10464']
['NOVA Bank', 'Berwyn', 'Pennsylvania', '27148', 'No Acquirer', 'October 26, 2012', '10463']
['GulfSouth Private Bank', 'Destin', 'Florida', '58073', 'SmartBank', 'October 19, 2012', '10462']
['First East Side Savings Bank', 'Tamarac', 'Florida', '28144', 'Stearns Bank N.A.', 'October 19, 2012', '10461']
['Excel Bank', 'Sedalia', 'Missouri', '19189', 'Simmons First National Bank', 'October 19, 2012', '10460']
['First United Bank', 'Crete', 'Illinois', '20685', 'Old Plank Trail Community Bank, National Association', 'September 28, 2012', '10459']
['Truman Bank', 'St. Louis', 'Missouri', '27316', 'Simmons First National Bank', 'September 14, 2012', '10458']
['First Commercial Bank', 'Bloomington', 'Minnesota', '35246', 'Republic Bank & Trust Company', 'September 7, 2012', '10457']
['Waukegan Savings Bank', 'Waukegan', 'Illinois', '28243', 'First Midwest Bank', 'August 3, 2012', '10456']
['Jasper Banking Company', 'Jasper', 'Georgia', '16240', 'Stearns Bank N.A.', 'July 27, 2012', '10455']
['The Royal Palm Bank of Florida', 'Naples', 'Florida', '57096', 'First National Bank of the Gulf Coast', 'July 20, 2012', '10454']
['Second Federal Savings and Loan Association of Chicago', 'Chicago', 'Illinois', '27986', 'Hinsdale Bank & Trust Company', 'July 20, 2012', '10453']
['Heartland Bank', 'Leawood', 'Kansas', '1361', 'Metcalf Bank', 'July 20, 2012', '10452']
['Georgia Trust Bank', 'Buford', 'Georgia', '57847', 'Community & Southern Bank', 'July 20, 2012', '10451']
['First Cherokee State Bank', 'Woodstock', 'Georgia', '32711', 'Community & Southern Bank', 'July 20, 2012', '10450']
['Glasgow Savings Bank', 'Glasgow', 'Missouri', '1056', 'Regional Missouri Bank', 'July 13, 2012', '10449']
['Montgomery Bank & Trust', 'Ailey', 'Georgia', '19498', 'Ameris Bank', 'July 6, 2012', '10448']
['The Farmers Bank of Lynchburg', 'Lynchburg', 'Tennessee', '1690', 'Clayton Bank and Trust', 'June 15, 2012', '10447']
['Security Exchange Bank', 'Marietta', 'Georgia', '35299', 'Fidelity Bank', 'June 15, 2012', '10446']
['Putnam State Bank', 'Palatka', 'Florida', '27405', 'Harbor Community Bank', 'June 15, 2012', '10445']
['Waccamaw Bank', 'Whiteville', 'North Carolina', '34515', 'First Community Bank', 'June 8, 2012', '10444']
['First Capital Bank', 'Kingfisher', 'Oklahoma', '416', 'F & M Bank', 'June 8, 2012', '10443']
["Farmers' and Traders' State Bank", 'Shabbona', 'Illinois', '9257', 'First State Bank', 'June 8, 2012', '10442']
['Carolina Federal Savings Bank', 'Charleston', 'South Carolina', '35372', 'Bank of North Carolina', 'June 8, 2012', '10441']
['Alabama Trust Bank, National Association', 'Sylacauga', 'Alabama', '35224', 'Southern States Bank', 'May 18, 2012', '10440']
['Security Bank, National Association', 'North Lauderdale', 'Florida', '23156', 'Banesco USA', 'May 4, 2012', '10439']
['Plantation Federal Bank', 'Pawleys Island', 'South Carolina', '32503', 'First Federal Bank', 'April 27, 2012', '10438']
['Palm Desert National Bank', 'Palm Desert', 'California', '23632', 'Pacific Premier Bank', 'April 27, 2012', '10437']
['Inter Savings Bank, fsb D/B/A InterBank, fsb', 'Maple Grove', 'Minnesota', '31495', 'Great Southern Bank', 'April 27, 2012', '10436']
['HarVest Bank of Maryland', 'Gaithersburg', 'Maryland', '57766', 'Sonabank', 'April 27, 2012', '10435']
['Bank of the Eastern Shore', 'Cambridge', 'Maryland', '26759', 'No Acquirer', 'April 27, 2012', '10434']
['Fort Lee Federal Savings Bank, FSB', 'Fort Lee', 'New Jersey', '35527', 'Alma Bank', 'April 20, 2012', '10433']
['Fidelity Bank', 'Dearborn', 'Michigan', '33883', 'The Huntington National Bank', 'March 30, 2012', '10432']
['Premier Bank', 'Wilmette', 'Illinois', '35419', 'International Bank of Chicago', 'March 23, 2012', '10431']
['Covenant Bank & Trust', 'Rock Spring', 'Georgia', '58068', 'Stearns Bank, N.A.', 'March 23, 2012', '10430']
['New City Bank', 'Chicago', 'Illinois', '57597', 'No Acquirer', 'March 9, 2012', '10429']
['Global Commerce Bank', 'Doraville', 'Georgia', '34046', 'Metro City Bank', 'March 2, 2012', '10428']
['Home Savings of America', 'Little Falls', 'Minnesota', '29178', 'No Acquirer', 'February 24, 2012', '10427']
['Central Bank of Georgia', 'Ellaville', 'Georgia', '5687', 'Ameris Bank', 'February 24, 2012', '10426']
['SCB Bank', 'Shelbyville', 'Indiana', '29761', 'First Merchants Bank, National Association', 'February 10, 2012', '10425']
['Charter National Bank and Trust', 'Hoffman Estates', 'Illinois', '23187', 'Barrington Bank & Trust Company, National Association', 'February 10, 2012', '10424']
['Tennessee Commerce Bank', 'Franklin', 'Tennessee', '35296', 'Republic Bank & Trust Company', 'January 27, 2012', '10423']
['Patriot Bank Minnesota', 'Forest Lake', 'Minnesota', '34823', 'First Resource Bank', 'January 27, 2012', '10422']
['First Guaranty Bank and Trust Company of Jacksonville', 'Jacksonville', 'Florida', '16579', 'CenterState Bank of Florida, N.A.', 'January 27, 2012', '10421']
['BankEast', 'Knoxville', 'Tennessee', '19869', 'U.S. Bank, N.A.', 'January 27, 2012', '10420']
['The First State Bank', 'Stockbridge', 'Georgia', '19252', 'Hamilton State Bank', 'January 20, 2012', '10419']
['Central Florida State Bank', 'Belleview', 'Florida', '57186', 'CenterState Bank of Florida, N.A.', 'January 20, 2012', '10418']
['American Eagle Savings Bank', 'Boothwyn', 'Pennsylvania', '31581', 'Capital Bank, N.A.', 'January 20, 2012', '10417']
['Western National Bank', 'Phoenix', 'Arizona', '57917', 'Washington Federal', 'December 16, 2011', '10416']
['Premier Community Bank of the Emerald Coast', 'Crestview', 'Florida', '58343', 'Summit Bank', 'December 16, 2011', '10415']
['Polk County Bank', 'Johnston', 'Iowa', '14194', 'Grinnell State Bank', 'November 18, 2011', '10414']
['Central Progressive Bank', 'Lacombe', 'Louisiana', '19657', 'First NBC Bank', 'November 18, 2011', '10413']
['Community Bank of Rockmart', 'Rockmart', 'Georgia', '57860', 'Century Bank of Georgia', 'November 10, 2011', '10412']
['SunFirst Bank', 'Saint George', 'Utah', '57087', 'Cache Valley Bank', 'November 4, 2011', '10411']
['Mid City Bank, Inc.', 'Omaha', 'Nebraska', '19397', 'Premier Bank', 'November 4, 2011', '10410']
['All American Bank', 'Des Plaines', 'Illinois', '57759', 'International Bank of Chicago', 'October 28, 2011', '10409']
['Old Harbor Bank', 'Clearwater', 'Florida', '57537', '1st United Bank', 'October 21, 2011', '10408']
['Decatur First Bank', 'Decatur', 'Georgia', '34392', 'Fidelity Bank', 'October 21, 2011', '10407']
['Community Capital Bank', 'Jonesboro', 'Georgia', '57036', 'State Bank and Trust Company', 'October 21, 2011', '10406']
['Community Banks of Colorado', 'Greenwood Village', 'Colorado', '21132', 'Bank Midwest, N.A.', 'October 21, 2011', '10405']
['Piedmont Community Bank', 'Gray', 'Georgia', '57256', 'State Bank and Trust Company', 'October 14, 2011', '10404']
['First State Bank', 'Cranford', 'New Jersey', '58046', 'Northfield Bank', 'October 14, 2011', '10403']
['Country Bank', 'Aledo', 'Illinois', '35395', 'Blackhawk Bank & Trust', 'October 14, 2011', '10402']
['Blue Ridge Savings Bank, Inc.', 'Asheville', 'North Carolina', '32347', 'Bank of North Carolina', 'October 14, 2011', '10401']
['Sun Security Bank', 'Ellington', 'Missouri', '20115', 'Great Southern Bank', 'October 7, 2011', '10400']
['The RiverBank', 'Wyoming', 'Minnesota', '10216', 'Central Bank', 'October 7, 2011', '10399']
['First International Bank', 'Plano', 'Texas', '33513', 'American First National Bank', 'September 30, 2011', '10398']
['Citizens Bank of Northern California', 'Nevada City', 'California', '33983', 'Tri Counties Bank', 'September 23, 2011', '10397']
['Bank of the Commonwealth', 'Norfolk', 'Virginia', '20408', 'Southern Bank and Trust Company', 'September 23, 2011', '10396']
['The First National Bank of Florida', 'Milton', 'Florida', '25155', 'CharterBank', 'September 9, 2011', '10395']
['Patriot Bank of Georgia', 'Cumming', 'Georgia', '58273', 'Georgia Commerce Bank', 'September 2, 2011', '10394']
['CreekSide Bank', 'Woodstock', 'Georgia', '58226', 'Georgia Commerce Bank', 'September 2, 2011', '10393']
['Lydian Private Bank', 'Palm Beach', 'Florida', '35356', 'Sabadell United Bank, N.A.', 'August 19, 2011', '10392']
['First Southern National Bank', 'Statesboro', 'Georgia', '57239', 'Heritage Bank of the South', 'August 19, 2011', '10391']
['First Choice Bank', 'Geneva', 'Illinois', '57212', 'Inland Bank & Trust', 'August 19, 2011', '10390']
['Public Savings Bank', 'Huntingdon Valley', 'Pennsylvania', '34130', 'Capital Bank, N.A.', 'August 18, 2011', '10389']
['The First National Bank of Olathe', 'Olathe', 'Kansas', '4744', 'Enterprise Bank & Trust', 'August 12, 2011', '10388']
['Bank of Whitman', 'Colfax', 'Washington', '22528', 'Columbia State Bank', 'August 5, 2011', '10387']
['Bank of Shorewood', 'Shorewood', 'Illinois', '22637', 'Heartland Bank and Trust Company', 'August 5, 2011', '10386']
['Virginia Business Bank', 'Richmond', 'Virginia', '58283', 'Xenith Bank', 'July 29, 2011', '10385']
['Integra Bank National Association', 'Evansville', 'Indiana', '4392', 'Old National Bank', 'July 29, 2011', '10384']
['BankMeridian, N.A.', 'Columbia', 'South Carolina', '58222', 'SCBT National Association', 'July 29, 2011', '10383']
['Southshore Community Bank', 'Apollo Beach', 'Florida', '58056', 'American Momentum Bank', 'July 22, 2011', '10382']
['LandMark Bank of Florida', 'Sarasota', 'Florida', '35244', 'American Momentum Bank', 'July 22, 2011', '10381']
['Bank of Choice', 'Greeley', 'Colorado', '2994', 'Bank Midwest, N.A.', 'July 22, 2011', '10380']
['Summit Bank', 'Prescott', 'Arizona', '57442', 'The Foothills Bank', 'July 15, 2011', '10379']
['One Georgia Bank', 'Atlanta', 'Georgia', '58238', 'Ameris Bank', 'July 15, 2011', '10378']
['High Trust Bank', 'Stockbridge', 'Georgia', '19554', 'Ameris Bank', 'July 15, 2011', '10377']
['First Peoples Bank', 'Port St. Lucie', 'Florida', '34870', 'Premier American Bank, N.A.', 'July 15, 2011', '10376']
['Signature Bank', 'Windsor', 'Colorado', '57835', 'Points West Community Bank', 'July 8, 2011', '10375']
['First Chicago Bank & Trust', 'Chicago', 'Illinois', '27935', 'Northbrook Bank & Trust Company', 'July 8, 2011', '10374']
['Colorado Capital Bank', 'Castle Rock', 'Colorado', '34522', 'First-Citizens Bank & Trust Company', 'July 8, 2011', '10373']
['Mountain Heritage Bank', 'Clayton', 'Georgia', '57593', 'First American Bank and Trust Company', 'June 24, 2011', '10372']
['McIntosh State Bank', 'Jackson', 'Georgia', '19237', 'Hamilton State Bank', 'June 17, 2011', '10371']
['First Commercial Bank of Tampa Bay', 'Tampa', 'Florida', '27583', 'Stonegate Bank', 'June 17, 2011', '10370']
['Atlantic Bank and Trust', 'Charleston', 'South Carolina', '58420', 'First Citizens Bank and Trust Company, Inc.', 'June 3, 2011', '10369']
['First Heritage Bank', 'Snohomish', 'Washington', '23626', 'Columbia State Bank', 'May 27, 2011', '10368']
['Summit Bank', 'Burlington', 'Washington', '513', 'Columbia State Bank', 'May 20, 2011', '10367']
['First Georgia Banking Company', 'Franklin', 'Georgia', '57647', 'CertusBank, National Association', 'May 20, 2011', '10366']
['Atlantic Southern Bank', 'Macon', 'Georgia', '57213', 'CertusBank, National Association', 'May 20, 2011', '10365']
['Coastal Bank', 'Cocoa Beach', 'Florida', '34898', 'Florida Community Bank, a division of Premier American Bank, N.A.', 'May 6, 2011', '10364']
['The Park Avenue Bank', 'Valdosta', 'Georgia', '19797', 'Bank of the Ozarks', 'April 29, 2011', '10363']
['First National Bank of Central Florida', 'Winter Park', 'Florida', '26297', 'Florida Community Bank, a division of Premier American Bank, N.A.', 'April 29, 2011', '10362']
['First Choice Community Bank', 'Dallas', 'Georgia', '58539', 'Bank of the Ozarks', 'April 29, 2011', '10361']
['Cortez Community Bank', 'Brooksville', 'Florida', '57625', 'Florida Community Bank, a division of Premier American Bank, N.A.', 'April 29, 2011', '10360']
['Community Central Bank', 'Mount Clemens', 'Michigan', '34234', 'Talmer Bank & Trust', 'April 29, 2011', '10359']
['Superior Bank', 'Birmingham', 'Alabama', '17750', 'Superior Bank, National Association', 'April 15, 2011', '10358']
['Rosemount National Bank', 'Rosemount', 'Minnesota', '24099', 'Central Bank', 'April 15, 2011', '10357']
['Nexity Bank', 'Birmingham', 'Alabama', '19794', 'AloStar Bank of Commerce', 'April 15, 2011', '10356']
['New Horizons Bank', 'East Ellijay', 'Georgia', '57705', 'Citizens South Bank', 'April 15, 2011', '10355']
['Heritage Banking Group', 'Carthage', 'Mississippi', '14273', 'Trustmark National Bank', 'April 15, 2011', '10354']
['Bartow County Bank', 'Cartersville', 'Georgia', '21495', 'Hamilton State Bank', 'April 15, 2011', '10353']
['Western Springs National Bank and Trust', 'Western Springs', 'Illinois', '10086', 'Heartland Bank and Trust Company', 'April 8, 2011', '10352']
['Nevada Commerce Bank', 'Las Vegas', 'Nevada', '35418', 'City National Bank', 'April 8, 2011', '10351']
['The Bank of Commerce', 'Wood Dale', 'Illinois', '34292', 'Advantage National Bank Group', 'March 25, 2011', '10350']

2. **Создание таблицы БД**
     
Напишите программу, которая:
* создаёт базу данных `banks_<your_group>_<your_full_name>`
* выбирает эту базу через USE 
* создает таблицу banks со структурой, идентичной таблице с сайта предыдущей задачи (но дополнительно нужно добавить первичный ключ - id)
После этого:
* вставьте одну произвольную строку в таблицу
* выполните commit() после вставки
* выведите все строки таблицы
* удалите из таблицы все строки
* убедитесь, что таблица пуста.

*Пример вывода:*  
Строки в таблице после вставки:  
`(3, 'Example Bank', 'Example City', 'Example State', '00000', 'Example Institution', datetime.date(2023, 10, 1), 10000)`  
Строки в таблице после удаления:

In [1]:
# import config_connect_to_db

In [3]:
# config = config_connect_to_db.cnfg

In [10]:
import pymysql

config = {'host': 'ich-edit.edu.itcareerhub.de','user': 'ich1', 'password': 'ich1_password_ilovedbs'}

connection = pymysql.connect(**config)
cursor = connection.cursor()

db_name = 'banks_test'
cursor.execute(f'CREATE DATABASE IF NOT EXISTS {db_name}')
cursor.execute(f'USE {db_name}')

create_table_query = '''
CREATE TABLE IF NOT EXISTS bank (
id INT AUTO_INCREMENT PRIMARY KEY,
bank_name VARCHAR(255),
city VARCHAR(255),
state VARCHAR(255),
cert VARCHAR(10),
acquiring_institution VARCHAR(255),
closing_data DATE,
fund INT
)
'''

cursor.execute(create_table_query)

insert_query = '''
INSERT INTO bank (bank_name, city, state, cert, acquiring_institution, closing_data, fund)
VALUES (%s, %s, %s, %s, %s, %s, %s)
'''

cursor.execute(insert_query, ('Example Bank', 'Example City', 'Example State', '00000', 'Example Institution', '2023-10-01', 10000))
connection.commit()

cursor.execute('SELECT * FROM bank')
for row in cursor:
    print(row)

(253, 'Allied Bank', 'Mulberry', 'Arkansas', '91', "Today's Bank", datetime.date(2016, 9, 23), 10522)
(254, 'The Woodbury Banking Company', 'Woodbury', 'Georgia', '11297', 'United Bank', datetime.date(2016, 8, 19), 10521)
(255, 'First CornerStone Bank', 'King of Prussia', 'Pennsylvania', '35312', 'First-Citizens Bank & Trust Company', datetime.date(2016, 5, 6), 10520)
(256, 'Trust Company Bank', 'Memphis', 'Tennessee', '9956', 'The Bank of Fayette County', datetime.date(2016, 4, 29), 10519)
(257, 'North Milwaukee State Bank', 'Milwaukee', 'Wisconsin', '20364', 'First-Citizens Bank & Trust Company', datetime.date(2016, 3, 11), 10518)
(258, 'Hometown National Bank', 'Longview', 'Washington', '35156', 'Twin City Bank', datetime.date(2015, 10, 2), 10517)
(259, 'The Bank of Georgia', 'Peachtree City', 'Georgia', '35259', 'Fidelity Bank', datetime.date(2015, 10, 2), 10516)
(260, 'Premier Bank', 'Denver', 'Colorado', '34112', 'United Fidelity Bank, fsb', datetime.date(2015, 7, 10), 10515)
(261, 'Edgebrook Bank', 'Chicago', 'Illinois', '57772', 'Republic Bank of Chicago', datetime.date(2015, 5, 8), 10514)
(262, 'Doral Bank', 'San Juan', 'Puerto Rico', '32102', 'Banco Popular de Puerto Rico', datetime.date(2015, 2, 27), 10513)
(263, 'Capitol City Bank & Trust Company', 'Atlanta', 'Georgia', '33938', 'First-Citizens Bank & Trust Company', datetime.date(2015, 2, 13), 10512)
(264, 'Highland Community Bank', 'Chicago', 'Illinois', '20290', 'United Fidelity Bank, fsb', datetime.date(2015, 1, 23), 10511)
(265, 'First National Bank of Crestview', 'Crestview', 'Florida', '17557', 'First NBC Bank', datetime.date(2015, 1, 16), 10510)
(266, 'Northern Star Bank', 'Mankato', 'Minnesota', '34983', 'BankVista', datetime.date(2014, 12, 19), 10509)
(267, 'Frontier Bank, FSB D/B/A El Paseo Bank', 'Palm Desert', 'California', '34738', 'Bank of Southern California, N.A.', datetime.date(2014, 11, 7), 10508)
(268, 'The National Republic Bank of Chicago', 'Chicago', 'Illinois', '916', 'State Bank of Texas', datetime.date(2014, 10, 24), 10507)
(269, 'NBRS Financial', 'Rising Sun', 'Maryland', '4862', 'Howard Bank', datetime.date(2014, 10, 17), 10506)
(270, 'GreenChoice Bank, fsb', 'Chicago', 'Illinois', '28462', 'Providence Bank, LLC', datetime.date(2014, 7, 25), 10505)
(271, 'Eastside Commercial Bank', 'Conyers', 'Georgia', '58125', 'Community & Southern Bank', datetime.date(2014, 7, 18), 10504)
(272, 'The Freedom State Bank', 'Freedom', 'Oklahoma', '12483', 'Alva State Bank & Trust Company', datetime.date(2014, 6, 27), 10503)
(273, 'Valley Bank', 'Moline', 'Illinois', '10450', 'Great Southern Bank', datetime.date(2014, 6, 20), 10502)
(274, 'Valley Bank', 'Fort Lauderdale', 'Florida', '21793', 'Landmark Bank, National Association', datetime.date(2014, 6, 20), 10501)
(275, 'Slavie Federal Savings Bank', 'Bel Air', 'Maryland', '32368', 'Bay Bank, FSB', datetime.date(2014, 5, 30), 10500)
(276, 'Columbia Savings Bank', 'Cincinnati', 'Ohio', '32284', 'United Fidelity Bank, fsb', datetime.date(2014, 5, 23), 10499)
(277, 'AztecAmerica Bank', 'Berwyn', 'Illinois', '57866', 'Republic Bank of Chicago', datetime.date(2014, 5, 16), 10498)
(278, 'Allendale County Bank', 'Fairfax', 'South Carolina', '15062', 'Palmetto State Bank', datetime.date(2014, 4, 25), 10497)
(279, 'Vantage Point Bank', 'Horsham', 'Pennsylvania', '58531', 'First Choice Bank', datetime.date(2014, 2, 28), 10496)
(280, 'Millennium Bank, National Association', 'Sterling', 'Virginia', '35096', 'WashingtonFirst Bank', datetime.date(2014, 2, 28), 10495)
(281, 'Syringa Bank', 'Boise', 'Idaho', '34296', 'Sunwest Bank', datetime.date(2014, 1, 31), 10494)
(282, 'The Bank of Union', 'El Reno', 'Oklahoma', '17967', 'BancFirst', datetime.date(2014, 1, 24), 10493)
(283, 'DuPage National Bank', 'West Chicago', 'Illinois', '5732', 'Republic Bank of Chicago', datetime.date(2014, 1, 17), 10492)
(284, 'Texas Community Bank, National Association', 'The Woodlands', 'Texas', '57431', 'Spirit of Texas Bank, SSB', datetime.date(2013, 12, 13), 10491)
(285, 'Bank of Jackson County', 'Graceville', 'Florida', '14794', 'First Federal Bank of Florida', datetime.date(2013, 10, 30), 10490)
(286, "The Community's Bank", 'Bridgeport', 'Connecticut', '57041', 'No Acquirer', datetime.date(2013, 9, 13), 10489)
(287, 'First National Bank also operating as The National Bank of El Paso', 'Edinburg', 'Texas', '14318', 'PlainsCapital Bank', datetime.date(2013, 9, 13), 10488)
(288, 'Sunrise Bank of Arizona', 'Phoenix', 'Arizona', '34707', 'First Fidelity Bank, National Association', datetime.date(2013, 8, 23), 10487)
(289, 'Community South Bank', 'Parsons', 'Tennessee', '19849', 'CB&S Bank, Inc.', datetime.date(2013, 8, 23), 10486)
(290, 'Bank of Wausau', 'Wausau', 'Wisconsin', '35016', 'Nicolet National Bank', datetime.date(2013, 8, 9), 10485)
(291, 'First Community Bank of Southwest Florida (also operating as Community Bank of Cape Coral)', 'Fort Myers', 'Florida', '34943', 'C1 Bank', datetime.date(2013, 8, 2), 10484)
(292, 'Mountain National Bank', 'Sevierville', 'Tennessee', '34789', 'First Tennessee Bank, National Association', datetime.date(2013, 6, 7), 10483)
(293, '1st Commerce Bank', 'North Las Vegas', 'Nevada', '58358', 'Plaza Bank', datetime.date(2013, 6, 6), 10482)
(294, 'Sunrise Bank', 'Valdosta', 'Georgia', '58185', 'Synovus Bank', datetime.date(2013, 5, 10), 10481)
(295, 'Pisgah Community Bank', 'Asheville', 'North Carolina', '58701', 'Capital Bank, N.A.', datetime.date(2013, 5, 10), 10480)
(296, 'Central Arizona Bank', 'Scottsdale', 'Arizona', '34527', 'Western State Bank', datetime.date(2013, 5, 14), 10479)
(297, 'Banks of Wisconsin d/b/a Bank of Kenosha', 'Kenosha', 'Wisconsin', '35386', 'North Shore Bank, FSB', datetime.date(2013, 5, 31), 10478)
(298, 'Parkway Bank', 'Lenoir', 'North Carolina', '57158', 'CertusBank, National Association', datetime.date(2013, 4, 26), 10477)
(299, 'Douglas County Bank', 'Douglasville', 'Georgia', '21649', 'Hamilton State Bank', datetime.date(2013, 4, 26), 10476)
(300, 'Heritage Bank of North Florida', 'Orange Park', 'Florida', '26680', 'FirstAtlantic Bank', datetime.date(2013, 4, 19), 10475)
(301, 'First Federal Bank', 'Lexington', 'Kentucky', '29594', 'Your Community Bank', datetime.date(2013, 4, 19), 10474)
(302, 'Chipola Community Bank', 'Marianna', 'Florida', '58034', 'First Federal Bank of Florida', datetime.date(2013, 4, 19), 10473)
(303, 'Gold Canyon Bank', 'Gold Canyon', 'Arizona', '58066', 'First Scottsdale Bank, National Association', datetime.date(2013, 4, 5), 10472)
(304, 'Frontier Bank', 'LaGrange', 'Georgia', '16431', 'HeritageBank of the South', datetime.date(2013, 3, 8), 10471)
(305, 'Covenant Bank', 'Chicago', 'Illinois', '22476', 'Liberty Bank and Trust Company', datetime.date(2013, 2, 15), 10470)
(306, '1st Regents Bank', 'Andover', 'Minnesota', '57157', 'First Minnesota Bank', datetime.date(2013, 1, 18), 10469)
(307, 'Westside Community Bank', 'University Place', 'Washington', '33997', 'Sunwest Bank', datetime.date(2013, 1, 11), 10468)
(308, 'Community Bank of the Ozarks', 'Sunrise Beach', 'Missouri', '27331', 'Bank of Sullivan', datetime.date(2012, 12, 14), 10467)
(309, 'Hometown Community Bank', 'Braselton', 'Georgia', '57928', 'CertusBank, National Association', datetime.date(2012, 11, 16), 10466)
(310, 'Heritage Bank of Florida', 'Lutz', 'Florida', '35009', 'Community Bank and Trust', datetime.date(2012, 11, 2), 10465)
(311, 'Citizens First National Bank', 'Princeton', 'Illinois', '3731', 'Heartland Bank and Trust Company', datetime.date(2012, 11, 2), 10464)
(312, 'NOVA Bank', 'Berwyn', 'Pennsylvania', '27148', 'No Acquirer', datetime.date(2012, 10, 26), 10463)
(313, 'GulfSouth Private Bank', 'Destin', 'Florida', '58073', 'SmartBank', datetime.date(2012, 10, 19), 10462)
(314, 'First East Side Savings Bank', 'Tamarac', 'Florida', '28144', 'Stearns Bank N.A.', datetime.date(2012, 10, 19), 10461)
(315, 'Excel Bank', 'Sedalia', 'Missouri', '19189', 'Simmons First National Bank', datetime.date(2012, 10, 19), 10460)
(316, 'First United Bank', 'Crete', 'Illinois', '20685', 'Old Plank Trail Community Bank, National Association', datetime.date(2012, 9, 28), 10459)
(317, 'Truman Bank', 'St. Louis', 'Missouri', '27316', 'Simmons First National Bank', datetime.date(2012, 9, 14), 10458)
(318, 'First Commercial Bank', 'Bloomington', 'Minnesota', '35246', 'Republic Bank & Trust Company', datetime.date(2012, 9, 7), 10457)
(319, 'Waukegan Savings Bank', 'Waukegan', 'Illinois', '28243', 'First Midwest Bank', datetime.date(2012, 8, 3), 10456)
(320, 'Jasper Banking Company', 'Jasper', 'Georgia', '16240', 'Stearns Bank N.A.', datetime.date(2012, 7, 27), 10455)
(321, 'The Royal Palm Bank of Florida', 'Naples', 'Florida', '57096', 'First National Bank of the Gulf Coast', datetime.date(2012, 7, 20), 10454)
(322, 'Second Federal Savings and Loan Association of Chicago', 'Chicago', 'Illinois', '27986', 'Hinsdale Bank & Trust Company', datetime.date(2012, 7, 20), 10453)
(323, 'Heartland Bank', 'Leawood', 'Kansas', '1361', 'Metcalf Bank', datetime.date(2012, 7, 20), 10452)
(324, 'Georgia Trust Bank', 'Buford', 'Georgia', '57847', 'Community & Southern Bank', datetime.date(2012, 7, 20), 10451)
(325, 'First Cherokee State Bank', 'Woodstock', 'Georgia', '32711', 'Community & Southern Bank', datetime.date(2012, 7, 20), 10450)
(326, 'Glasgow Savings Bank', 'Glasgow', 'Missouri', '1056', 'Regional Missouri Bank', datetime.date(2012, 7, 13), 10449)
(327, 'Montgomery Bank & Trust', 'Ailey', 'Georgia', '19498', 'Ameris Bank', datetime.date(2012, 7, 6), 10448)
(328, 'The Farmers Bank of Lynchburg', 'Lynchburg', 'Tennessee', '1690', 'Clayton Bank and Trust', datetime.date(2012, 6, 15), 10447)
(329, 'Security Exchange Bank', 'Marietta', 'Georgia', '35299', 'Fidelity Bank', datetime.date(2012, 6, 15), 10446)
(330, 'Putnam State Bank', 'Palatka', 'Florida', '27405', 'Harbor Community Bank', datetime.date(2012, 6, 15), 10445)
(331, 'Waccamaw Bank', 'Whiteville', 'North Carolina', '34515', 'First Community Bank', datetime.date(2012, 6, 8), 10444)
(332, 'First Capital Bank', 'Kingfisher', 'Oklahoma', '416', 'F & M Bank', datetime.date(2012, 6, 8), 10443)
(333, "Farmers' and Traders' State Bank", 'Shabbona', 'Illinois', '9257', 'First State Bank', datetime.date(2012, 6, 8), 10442)
(334, 'Carolina Federal Savings Bank', 'Charleston', 'South Carolina', '35372', 'Bank of North Carolina', datetime.date(2012, 6, 8), 10441)
(335, 'Alabama Trust Bank, National Association', 'Sylacauga', 'Alabama', '35224', 'Southern States Bank', datetime.date(2012, 5, 18), 10440)
(336, 'Security Bank, National Association', 'North Lauderdale', 'Florida', '23156', 'Banesco USA', datetime.date(2012, 5, 4), 10439)
(337, 'Plantation Federal Bank', 'Pawleys Island', 'South Carolina', '32503', 'First Federal Bank', datetime.date(2012, 4, 27), 10438)
(338, 'Palm Desert National Bank', 'Palm Desert', 'California', '23632', 'Pacific Premier Bank', datetime.date(2012, 4, 27), 10437)
(339, 'Inter Savings Bank, fsb D/B/A InterBank, fsb', 'Maple Grove', 'Minnesota', '31495', 'Great Southern Bank', datetime.date(2012, 4, 27), 10436)
(340, 'HarVest Bank of Maryland', 'Gaithersburg', 'Maryland', '57766', 'Sonabank', datetime.date(2012, 4, 27), 10435)
(341, 'Bank of the Eastern Shore', 'Cambridge', 'Maryland', '26759', 'No Acquirer', datetime.date(2012, 4, 27), 10434)
(342, 'Fort Lee Federal Savings Bank, FSB', 'Fort Lee', 'New Jersey', '35527', 'Alma Bank', datetime.date(2012, 4, 20), 10433)
(343, 'Fidelity Bank', 'Dearborn', 'Michigan', '33883', 'The Huntington National Bank', datetime.date(2012, 3, 30), 10432)
(344, 'Premier Bank', 'Wilmette', 'Illinois', '35419', 'International Bank of Chicago', datetime.date(2012, 3, 23), 10431)
(345, 'Covenant Bank & Trust', 'Rock Spring', 'Georgia', '58068', 'Stearns Bank, N.A.', datetime.date(2012, 3, 23), 10430)
(346, 'New City Bank', 'Chicago', 'Illinois', '57597', 'No Acquirer', datetime.date(2012, 3, 9), 10429)
(347, 'Global Commerce Bank', 'Doraville', 'Georgia', '34046', 'Metro City Bank', datetime.date(2012, 3, 2), 10428)
(348, 'Home Savings of America', 'Little Falls', 'Minnesota', '29178', 'No Acquirer', datetime.date(2012, 2, 24), 10427)
(349, 'Central Bank of Georgia', 'Ellaville', 'Georgia', '5687', 'Ameris Bank', datetime.date(2012, 2, 24), 10426)
(350, 'SCB Bank', 'Shelbyville', 'Indiana', '29761', 'First Merchants Bank, National Association', datetime.date(2012, 2, 10), 10425)
(351, 'Charter National Bank and Trust', 'Hoffman Estates', 'Illinois', '23187', 'Barrington Bank & Trust Company, National Association', datetime.date(2012, 2, 10), 10424)
(352, 'Tennessee Commerce Bank', 'Franklin', 'Tennessee', '35296', 'Republic Bank & Trust Company', datetime.date(2012, 1, 27), 10423)
(353, 'Patriot Bank Minnesota', 'Forest Lake', 'Minnesota', '34823', 'First Resource Bank', datetime.date(2012, 1, 27), 10422)
(354, 'First Guaranty Bank and Trust Company of Jacksonville', 'Jacksonville', 'Florida', '16579', 'CenterState Bank of Florida, N.A.', datetime.date(2012, 1, 27), 10421)
(355, 'BankEast', 'Knoxville', 'Tennessee', '19869', 'U.S. Bank, N.A.', datetime.date(2012, 1, 27), 10420)
(356, 'The First State Bank', 'Stockbridge', 'Georgia', '19252', 'Hamilton State Bank', datetime.date(2012, 1, 20), 10419)
(357, 'Central Florida State Bank', 'Belleview', 'Florida', '57186', 'CenterState Bank of Florida, N.A.', datetime.date(2012, 1, 20), 10418)
(358, 'American Eagle Savings Bank', 'Boothwyn', 'Pennsylvania', '31581', 'Capital Bank, N.A.', datetime.date(2012, 1, 20), 10417)
(359, 'Western National Bank', 'Phoenix', 'Arizona', '57917', 'Washington Federal', datetime.date(2011, 12, 16), 10416)
(360, 'Premier Community Bank of the Emerald Coast', 'Crestview', 'Florida', '58343', 'Summit Bank', datetime.date(2011, 12, 16), 10415)
(361, 'Polk County Bank', 'Johnston', 'Iowa', '14194', 'Grinnell State Bank', datetime.date(2011, 11, 18), 10414)
(362, 'Central Progressive Bank', 'Lacombe', 'Louisiana', '19657', 'First NBC Bank', datetime.date(2011, 11, 18), 10413)
(363, 'Community Bank of Rockmart', 'Rockmart', 'Georgia', '57860', 'Century Bank of Georgia', datetime.date(2011, 11, 10), 10412)
(364, 'SunFirst Bank', 'Saint George', 'Utah', '57087', 'Cache Valley Bank', datetime.date(2011, 11, 4), 10411)
(365, 'Mid City Bank, Inc.', 'Omaha', 'Nebraska', '19397', 'Premier Bank', datetime.date(2011, 11, 4), 10410)
(366, 'All American Bank', 'Des Plaines', 'Illinois', '57759', 'International Bank of Chicago', datetime.date(2011, 10, 28), 10409)
(367, 'Old Harbor Bank', 'Clearwater', 'Florida', '57537', '1st United Bank', datetime.date(2011, 10, 21), 10408)
(368, 'Decatur First Bank', 'Decatur', 'Georgia', '34392', 'Fidelity Bank', datetime.date(2011, 10, 21), 10407)
(369, 'Community Capital Bank', 'Jonesboro', 'Georgia', '57036', 'State Bank and Trust Company', datetime.date(2011, 10, 21), 10406)
(370, 'Community Banks of Colorado', 'Greenwood Village', 'Colorado', '21132', 'Bank Midwest, N.A.', datetime.date(2011, 10, 21), 10405)
(371, 'Piedmont Community Bank', 'Gray', 'Georgia', '57256', 'State Bank and Trust Company', datetime.date(2011, 10, 14), 10404)
(372, 'First State Bank', 'Cranford', 'New Jersey', '58046', 'Northfield Bank', datetime.date(2011, 10, 14), 10403)
(373, 'Country Bank', 'Aledo', 'Illinois', '35395', 'Blackhawk Bank & Trust', datetime.date(2011, 10, 14), 10402)
(374, 'Blue Ridge Savings Bank, Inc.', 'Asheville', 'North Carolina', '32347', 'Bank of North Carolina', datetime.date(2011, 10, 14), 10401)
(375, 'Sun Security Bank', 'Ellington', 'Missouri', '20115', 'Great Southern Bank', datetime.date(2011, 10, 7), 10400)
(376, 'The RiverBank', 'Wyoming', 'Minnesota', '10216', 'Central Bank', datetime.date(2011, 10, 7), 10399)
(377, 'First International Bank', 'Plano', 'Texas', '33513', 'American First National Bank', datetime.date(2011, 9, 30), 10398)
(378, 'Citizens Bank of Northern California', 'Nevada City', 'California', '33983', 'Tri Counties Bank', datetime.date(2011, 9, 23), 10397)
(379, 'Bank of the Commonwealth', 'Norfolk', 'Virginia', '20408', 'Southern Bank and Trust Company', datetime.date(2011, 9, 23), 10396)
(380, 'The First National Bank of Florida', 'Milton', 'Florida', '25155', 'CharterBank', datetime.date(2011, 9, 9), 10395)
(381, 'Patriot Bank of Georgia', 'Cumming', 'Georgia', '58273', 'Georgia Commerce Bank', datetime.date(2011, 9, 2), 10394)
(382, 'CreekSide Bank', 'Woodstock', 'Georgia', '58226', 'Georgia Commerce Bank', datetime.date(2011, 9, 2), 10393)
(383, 'Lydian Private Bank', 'Palm Beach', 'Florida', '35356', 'Sabadell United Bank, N.A.', datetime.date(2011, 8, 19), 10392)
(384, 'First Southern National Bank', 'Statesboro', 'Georgia', '57239', 'Heritage Bank of the South', datetime.date(2011, 8, 19), 10391)
(385, 'First Choice Bank', 'Geneva', 'Illinois', '57212', 'Inland Bank & Trust', datetime.date(2011, 8, 19), 10390)
(386, 'Public Savings Bank', 'Huntingdon Valley', 'Pennsylvania', '34130', 'Capital Bank, N.A.', datetime.date(2011, 8, 18), 10389)
(387, 'The First National Bank of Olathe', 'Olathe', 'Kansas', '4744', 'Enterprise Bank & Trust', datetime.date(2011, 8, 12), 10388)
(388, 'Bank of Whitman', 'Colfax', 'Washington', '22528', 'Columbia State Bank', datetime.date(2011, 8, 5), 10387)
(389, 'Bank of Shorewood', 'Shorewood', 'Illinois', '22637', 'Heartland Bank and Trust Company', datetime.date(2011, 8, 5), 10386)
(390, 'Virginia Business Bank', 'Richmond', 'Virginia', '58283', 'Xenith Bank', datetime.date(2011, 7, 29), 10385)
(391, 'Integra Bank National Association', 'Evansville', 'Indiana', '4392', 'Old National Bank', datetime.date(2011, 7, 29), 10384)
(392, 'BankMeridian, N.A.', 'Columbia', 'South Carolina', '58222', 'SCBT National Association', datetime.date(2011, 7, 29), 10383)
(393, 'Southshore Community Bank', 'Apollo Beach', 'Florida', '58056', 'American Momentum Bank', datetime.date(2011, 7, 22), 10382)
(394, 'LandMark Bank of Florida', 'Sarasota', 'Florida', '35244', 'American Momentum Bank', datetime.date(2011, 7, 22), 10381)
(395, 'Bank of Choice', 'Greeley', 'Colorado', '2994', 'Bank Midwest, N.A.', datetime.date(2011, 7, 22), 10380)
(396, 'Summit Bank', 'Prescott', 'Arizona', '57442', 'The Foothills Bank', datetime.date(2011, 7, 15), 10379)
(397, 'One Georgia Bank', 'Atlanta', 'Georgia', '58238', 'Ameris Bank', datetime.date(2011, 7, 15), 10378)
(398, 'High Trust Bank', 'Stockbridge', 'Georgia', '19554', 'Ameris Bank', datetime.date(2011, 7, 15), 10377)
(399, 'First Peoples Bank', 'Port St. Lucie', 'Florida', '34870', 'Premier American Bank, N.A.', datetime.date(2011, 7, 15), 10376)
(400, 'Signature Bank', 'Windsor', 'Colorado', '57835', 'Points West Community Bank', datetime.date(2011, 7, 8), 10375)
(401, 'First Chicago Bank & Trust', 'Chicago', 'Illinois', '27935', 'Northbrook Bank & Trust Company', datetime.date(2011, 7, 8), 10374)
(402, 'Colorado Capital Bank', 'Castle Rock', 'Colorado', '34522', 'First-Citizens Bank & Trust Company', datetime.date(2011, 7, 8), 10373)
(403, 'Mountain Heritage Bank', 'Clayton', 'Georgia', '57593', 'First American Bank and Trust Company', datetime.date(2011, 6, 24), 10372)
(404, 'McIntosh State Bank', 'Jackson', 'Georgia', '19237', 'Hamilton State Bank', datetime.date(2011, 6, 17), 10371)
(405, 'First Commercial Bank of Tampa Bay', 'Tampa', 'Florida', '27583', 'Stonegate Bank', datetime.date(2011, 6, 17), 10370)
(406, 'Atlantic Bank and Trust', 'Charleston', 'South Carolina', '58420', 'First Citizens Bank and Trust Company, Inc.', datetime.date(2011, 6, 3), 10369)
(407, 'First Heritage Bank', 'Snohomish', 'Washington', '23626', 'Columbia State Bank', datetime.date(2011, 5, 27), 10368)
(408, 'Summit Bank', 'Burlington', 'Washington', '513', 'Columbia State Bank', datetime.date(2011, 5, 20), 10367)
(409, 'First Georgia Banking Company', 'Franklin', 'Georgia', '57647', 'CertusBank, National Association', datetime.date(2011, 5, 20), 10366)

In [3]:
cursor.execute('DELETE FROM bank')
connection.commit()

print('таблица после удаления:')
cursor.execute('SELECT * FROM bank')
for row in cursor:
    print(row)

таблица после удаления:

In [ ]:
cursor.close()
connection.close()

3. **Заполнение базы данных**  
> Продолжите решение предыдущих задач. Вставьте в созданную базу данных строки, полученные парсингом сайта в первой задаче. Перед вставкой убедитесь, что данные имеют верные типы (числа, даты и т.п.)   
*Пример вывода:*   
Строки в таблице после вставки:
```
(2, 'The First State Bank', 'Barboursville', 'West Virginia', '14361', 'MVB Bank, Inc.', datetime.date(2020, 4, 3), 10536)
(3, 'Ericson State Bank', 'Ericson', 'Nebraska', '18265', 'Farmers and Merchants Bank', datetime.date(2020, 2, 14), 10535)
(4, 'City National Bank of New Jersey', 'Newark', 'New Jersey', '21111', 'Industrial Bank', datetime.date(2019, 11, 1), 10534)
(5, 'Resolute Bank', 'Maumee', 'Ohio', '58317', 'Buckeye State Bank', datetime.date(2019, 10, 25), 10533)
```

In [11]:
data[0]

['Allied Bank',
 'Mulberry',
 'Arkansas',
 '91',
 "Today's Bank",
 'September 23, 2016',
 '10522']

In [12]:
from datetime import datetime

datetime.strptime('September 23, 2016', "%B %d, %Y")

datetime.datetime(2016, 9, 23, 0, 0)

In [13]:
from datetime import datetime

for bd in data:
    bd[5] = datetime.strptime(bd[5], "%B %d, %Y")
    bd[6] = int(bd[6])

with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute(f"USE {db_name}")
	 # Переменные insert_query и bank_data определены в задачах 1 и 2
        cursor.executemany(insert_query, data)
        connection.commit()
        
        # Вывод всех строк таблицы для проверки
        cursor.execute("SELECT * FROM bank")
        print("Строки в таблице после вставки:")
        for row in cursor:
            print(row)

Строки в таблице после вставки:
(506, 'Example Bank', 'Example City', 'Example State', '00000', 'Example Institution', datetime.date(2023, 10, 1), 10000)
(507, 'Allied Bank', 'Mulberry', 'Arkansas', '91', "Today's Bank", datetime.date(2016, 9, 23), 10522)
(508, 'The Woodbury Banking Company', 'Woodbury', 'Georgia', '11297', 'United Bank', datetime.date(2016, 8, 19), 10521)
(509, 'First CornerStone Bank', 'King of Prussia', 'Pennsylvania', '35312', 'First-Citizens Bank & Trust Company', datetime.date(2016, 5, 6), 10520)
(510, 'Trust Company Bank', 'Memphis', 'Tennessee', '9956', 'The Bank of Fayette County', datetime.date(2016, 4, 29), 10519)
(511, 'North Milwaukee State Bank', 'Milwaukee', 'Wisconsin', '20364', 'First-Citizens Bank & Trust Company', datetime.date(2016, 3, 11), 10518)
(512, 'Hometown National Bank', 'Longview', 'Washington', '35156', 'Twin City Bank', datetime.date(2015, 10, 2), 10517)
(513, 'The Bank of Georgia', 'Peachtree City', 'Georgia', '35259', 'Fidelity Bank', datetime.date(2015, 10, 2), 10516)
(514, 'Premier Bank', 'Denver', 'Colorado', '34112', 'United Fidelity Bank, fsb', datetime.date(2015, 7, 10), 10515)
(515, 'Edgebrook Bank', 'Chicago', 'Illinois', '57772', 'Republic Bank of Chicago', datetime.date(2015, 5, 8), 10514)
(516, 'Doral Bank', 'San Juan', 'Puerto Rico', '32102', 'Banco Popular de Puerto Rico', datetime.date(2015, 2, 27), 10513)
(517, 'Capitol City Bank & Trust Company', 'Atlanta', 'Georgia', '33938', 'First-Citizens Bank & Trust Company', datetime.date(2015, 2, 13), 10512)
(518, 'Highland Community Bank', 'Chicago', 'Illinois', '20290', 'United Fidelity Bank, fsb', datetime.date(2015, 1, 23), 10511)
(519, 'First National Bank of Crestview', 'Crestview', 'Florida', '17557', 'First NBC Bank', datetime.date(2015, 1, 16), 10510)
(520, 'Northern Star Bank', 'Mankato', 'Minnesota', '34983', 'BankVista', datetime.date(2014, 12, 19), 10509)
(521, 'Frontier Bank, FSB D/B/A El Paseo Bank', 'Palm Desert', 'California', '34738', 'Bank of Southern California, N.A.', datetime.date(2014, 11, 7), 10508)
(522, 'The National Republic Bank of Chicago', 'Chicago', 'Illinois', '916', 'State Bank of Texas', datetime.date(2014, 10, 24), 10507)
(523, 'NBRS Financial', 'Rising Sun', 'Maryland', '4862', 'Howard Bank', datetime.date(2014, 10, 17), 10506)
(524, 'GreenChoice Bank, fsb', 'Chicago', 'Illinois', '28462', 'Providence Bank, LLC', datetime.date(2014, 7, 25), 10505)
(525, 'Eastside Commercial Bank', 'Conyers', 'Georgia', '58125', 'Community & Southern Bank', datetime.date(2014, 7, 18), 10504)
(526, 'The Freedom State Bank', 'Freedom', 'Oklahoma', '12483', 'Alva State Bank & Trust Company', datetime.date(2014, 6, 27), 10503)
(527, 'Valley Bank', 'Moline', 'Illinois', '10450', 'Great Southern Bank', datetime.date(2014, 6, 20), 10502)
(528, 'Valley Bank', 'Fort Lauderdale', 'Florida', '21793', 'Landmark Bank, National Association', datetime.date(2014, 6, 20), 10501)
(529, 'Slavie Federal Savings Bank', 'Bel Air', 'Maryland', '32368', 'Bay Bank, FSB', datetime.date(2014, 5, 30), 10500)
(530, 'Columbia Savings Bank', 'Cincinnati', 'Ohio', '32284', 'United Fidelity Bank, fsb', datetime.date(2014, 5, 23), 10499)
(531, 'AztecAmerica Bank', 'Berwyn', 'Illinois', '57866', 'Republic Bank of Chicago', datetime.date(2014, 5, 16), 10498)
(532, 'Allendale County Bank', 'Fairfax', 'South Carolina', '15062', 'Palmetto State Bank', datetime.date(2014, 4, 25), 10497)
(533, 'Vantage Point Bank', 'Horsham', 'Pennsylvania', '58531', 'First Choice Bank', datetime.date(2014, 2, 28), 10496)
(534, 'Millennium Bank, National Association', 'Sterling', 'Virginia', '35096', 'WashingtonFirst Bank', datetime.date(2014, 2, 28), 10495)
(535, 'Syringa Bank', 'Boise', 'Idaho', '34296', 'Sunwest Bank', datetime.date(2014, 1, 31), 10494)
(536, 'The Bank of Union', 'El Reno', 'Oklahoma', '17967', 'BancFirst', datetime.date(2014, 1, 24), 10493)
(537, 'DuPage National Bank', 'West Chicago', 'Illinois', '5732', 'Republic Bank of Chicago', datetime.date(2014, 1, 17), 10492)
(538, 'Texas Community Bank, National Association', 'The Woodlands', 'Texas', '57431', 'Spirit of Texas Bank, SSB', datetime.date(2013, 12, 13), 10491)
(539, 'Bank of Jackson County', 'Graceville', 'Florida', '14794', 'First Federal Bank of Florida', datetime.date(2013, 10, 30), 10490)
(540, "The Community's Bank", 'Bridgeport', 'Connecticut', '57041', 'No Acquirer', datetime.date(2013, 9, 13), 10489)
(541, 'First National Bank also operating as The National Bank of El Paso', 'Edinburg', 'Texas', '14318', 'PlainsCapital Bank', datetime.date(2013, 9, 13), 10488)
(542, 'Sunrise Bank of Arizona', 'Phoenix', 'Arizona', '34707', 'First Fidelity Bank, National Association', datetime.date(2013, 8, 23), 10487)
(543, 'Community South Bank', 'Parsons', 'Tennessee', '19849', 'CB&S Bank, Inc.', datetime.date(2013, 8, 23), 10486)
(544, 'Bank of Wausau', 'Wausau', 'Wisconsin', '35016', 'Nicolet National Bank', datetime.date(2013, 8, 9), 10485)
(545, 'First Community Bank of Southwest Florida (also operating as Community Bank of Cape Coral)', 'Fort Myers', 'Florida', '34943', 'C1 Bank', datetime.date(2013, 8, 2), 10484)
(546, 'Mountain National Bank', 'Sevierville', 'Tennessee', '34789', 'First Tennessee Bank, National Association', datetime.date(2013, 6, 7), 10483)
(547, '1st Commerce Bank', 'North Las Vegas', 'Nevada', '58358', 'Plaza Bank', datetime.date(2013, 6, 6), 10482)
(548, 'Sunrise Bank', 'Valdosta', 'Georgia', '58185', 'Synovus Bank', datetime.date(2013, 5, 10), 10481)
(549, 'Pisgah Community Bank', 'Asheville', 'North Carolina', '58701', 'Capital Bank, N.A.', datetime.date(2013, 5, 10), 10480)
(550, 'Central Arizona Bank', 'Scottsdale', 'Arizona', '34527', 'Western State Bank', datetime.date(2013, 5, 14), 10479)
(551, 'Banks of Wisconsin d/b/a Bank of Kenosha', 'Kenosha', 'Wisconsin', '35386', 'North Shore Bank, FSB', datetime.date(2013, 5, 31), 10478)
(552, 'Parkway Bank', 'Lenoir', 'North Carolina', '57158', 'CertusBank, National Association', datetime.date(2013, 4, 26), 10477)
(553, 'Douglas County Bank', 'Douglasville', 'Georgia', '21649', 'Hamilton State Bank', datetime.date(2013, 4, 26), 10476)
(554, 'Heritage Bank of North Florida', 'Orange Park', 'Florida', '26680', 'FirstAtlantic Bank', datetime.date(2013, 4, 19), 10475)
(555, 'First Federal Bank', 'Lexington', 'Kentucky', '29594', 'Your Community Bank', datetime.date(2013, 4, 19), 10474)
(556, 'Chipola Community Bank', 'Marianna', 'Florida', '58034', 'First Federal Bank of Florida', datetime.date(2013, 4, 19), 10473)
(557, 'Gold Canyon Bank', 'Gold Canyon', 'Arizona', '58066', 'First Scottsdale Bank, National Association', datetime.date(2013, 4, 5), 10472)
(558, 'Frontier Bank', 'LaGrange', 'Georgia', '16431', 'HeritageBank of the South', datetime.date(2013, 3, 8), 10471)
(559, 'Covenant Bank', 'Chicago', 'Illinois', '22476', 'Liberty Bank and Trust Company', datetime.date(2013, 2, 15), 10470)
(560, '1st Regents Bank', 'Andover', 'Minnesota', '57157', 'First Minnesota Bank', datetime.date(2013, 1, 18), 10469)
(561, 'Westside Community Bank', 'University Place', 'Washington', '33997', 'Sunwest Bank', datetime.date(2013, 1, 11), 10468)
(562, 'Community Bank of the Ozarks', 'Sunrise Beach', 'Missouri', '27331', 'Bank of Sullivan', datetime.date(2012, 12, 14), 10467)
(563, 'Hometown Community Bank', 'Braselton', 'Georgia', '57928', 'CertusBank, National Association', datetime.date(2012, 11, 16), 10466)
(564, 'Heritage Bank of Florida', 'Lutz', 'Florida', '35009', 'Community Bank and Trust', datetime.date(2012, 11, 2), 10465)
(565, 'Citizens First National Bank', 'Princeton', 'Illinois', '3731', 'Heartland Bank and Trust Company', datetime.date(2012, 11, 2), 10464)
(566, 'NOVA Bank', 'Berwyn', 'Pennsylvania', '27148', 'No Acquirer', datetime.date(2012, 10, 26), 10463)
(567, 'GulfSouth Private Bank', 'Destin', 'Florida', '58073', 'SmartBank', datetime.date(2012, 10, 19), 10462)
(568, 'First East Side Savings Bank', 'Tamarac', 'Florida', '28144', 'Stearns Bank N.A.', datetime.date(2012, 10, 19), 10461)
(569, 'Excel Bank', 'Sedalia', 'Missouri', '19189', 'Simmons First National Bank', datetime.date(2012, 10, 19), 10460)
(570, 'First United Bank', 'Crete', 'Illinois', '20685', 'Old Plank Trail Community Bank, National Association', datetime.date(2012, 9, 28), 10459)
(571, 'Truman Bank', 'St. Louis', 'Missouri', '27316', 'Simmons First National Bank', datetime.date(2012, 9, 14), 10458)
(572, 'First Commercial Bank', 'Bloomington', 'Minnesota', '35246', 'Republic Bank & Trust Company', datetime.date(2012, 9, 7), 10457)
(573, 'Waukegan Savings Bank', 'Waukegan', 'Illinois', '28243', 'First Midwest Bank', datetime.date(2012, 8, 3), 10456)
(574, 'Jasper Banking Company', 'Jasper', 'Georgia', '16240', 'Stearns Bank N.A.', datetime.date(2012, 7, 27), 10455)
(575, 'The Royal Palm Bank of Florida', 'Naples', 'Florida', '57096', 'First National Bank of the Gulf Coast', datetime.date(2012, 7, 20), 10454)
(576, 'Second Federal Savings and Loan Association of Chicago', 'Chicago', 'Illinois', '27986', 'Hinsdale Bank & Trust Company', datetime.date(2012, 7, 20), 10453)
(577, 'Heartland Bank', 'Leawood', 'Kansas', '1361', 'Metcalf Bank', datetime.date(2012, 7, 20), 10452)
(578, 'Georgia Trust Bank', 'Buford', 'Georgia', '57847', 'Community & Southern Bank', datetime.date(2012, 7, 20), 10451)
(579, 'First Cherokee State Bank', 'Woodstock', 'Georgia', '32711', 'Community & Southern Bank', datetime.date(2012, 7, 20), 10450)
(580, 'Glasgow Savings Bank', 'Glasgow', 'Missouri', '1056', 'Regional Missouri Bank', datetime.date(2012, 7, 13), 10449)
(581, 'Montgomery Bank & Trust', 'Ailey', 'Georgia', '19498', 'Ameris Bank', datetime.date(2012, 7, 6), 10448)
(582, 'The Farmers Bank of Lynchburg', 'Lynchburg', 'Tennessee', '1690', 'Clayton Bank and Trust', datetime.date(2012, 6, 15), 10447)
(583, 'Security Exchange Bank', 'Marietta', 'Georgia', '35299', 'Fidelity Bank', datetime.date(2012, 6, 15), 10446)
(584, 'Putnam State Bank', 'Palatka', 'Florida', '27405', 'Harbor Community Bank', datetime.date(2012, 6, 15), 10445)
(585, 'Waccamaw Bank', 'Whiteville', 'North Carolina', '34515', 'First Community Bank', datetime.date(2012, 6, 8), 10444)
(586, 'First Capital Bank', 'Kingfisher', 'Oklahoma', '416', 'F & M Bank', datetime.date(2012, 6, 8), 10443)
(587, "Farmers' and Traders' State Bank", 'Shabbona', 'Illinois', '9257', 'First State Bank', datetime.date(2012, 6, 8), 10442)
(588, 'Carolina Federal Savings Bank', 'Charleston', 'South Carolina', '35372', 'Bank of North Carolina', datetime.date(2012, 6, 8), 10441)
(589, 'Alabama Trust Bank, National Association', 'Sylacauga', 'Alabama', '35224', 'Southern States Bank', datetime.date(2012, 5, 18), 10440)
(590, 'Security Bank, National Association', 'North Lauderdale', 'Florida', '23156', 'Banesco USA', datetime.date(2012, 5, 4), 10439)
(591, 'Plantation Federal Bank', 'Pawleys Island', 'South Carolina', '32503', 'First Federal Bank', datetime.date(2012, 4, 27), 10438)
(592, 'Palm Desert National Bank', 'Palm Desert', 'California', '23632', 'Pacific Premier Bank', datetime.date(2012, 4, 27), 10437)
(593, 'Inter Savings Bank, fsb D/B/A InterBank, fsb', 'Maple Grove', 'Minnesota', '31495', 'Great Southern Bank', datetime.date(2012, 4, 27), 10436)
(594, 'HarVest Bank of Maryland', 'Gaithersburg', 'Maryland', '57766', 'Sonabank', datetime.date(2012, 4, 27), 10435)
(595, 'Bank of the Eastern Shore', 'Cambridge', 'Maryland', '26759', 'No Acquirer', datetime.date(2012, 4, 27), 10434)
(596, 'Fort Lee Federal Savings Bank, FSB', 'Fort Lee', 'New Jersey', '35527', 'Alma Bank', datetime.date(2012, 4, 20), 10433)
(597, 'Fidelity Bank', 'Dearborn', 'Michigan', '33883', 'The Huntington National Bank', datetime.date(2012, 3, 30), 10432)
(598, 'Premier Bank', 'Wilmette', 'Illinois', '35419', 'International Bank of Chicago', datetime.date(2012, 3, 23), 10431)
(599, 'Covenant Bank & Trust', 'Rock Spring', 'Georgia', '58068', 'Stearns Bank, N.A.', datetime.date(2012, 3, 23), 10430)
(600, 'New City Bank', 'Chicago', 'Illinois', '57597', 'No Acquirer', datetime.date(2012, 3, 9), 10429)
(601, 'Global Commerce Bank', 'Doraville', 'Georgia', '34046', 'Metro City Bank', datetime.date(2012, 3, 2), 10428)
(602, 'Home Savings of America', 'Little Falls', 'Minnesota', '29178', 'No Acquirer', datetime.date(2012, 2, 24), 10427)
(603, 'Central Bank of Georgia', 'Ellaville', 'Georgia', '5687', 'Ameris Bank', datetime.date(2012, 2, 24), 10426)
(604, 'SCB Bank', 'Shelbyville', 'Indiana', '29761', 'First Merchants Bank, National Association', datetime.date(2012, 2, 10), 10425)
(605, 'Charter National Bank and Trust', 'Hoffman Estates', 'Illinois', '23187', 'Barrington Bank & Trust Company, National Association', datetime.date(2012, 2, 10), 10424)
(606, 'Tennessee Commerce Bank', 'Franklin', 'Tennessee', '35296', 'Republic Bank & Trust Company', datetime.date(2012, 1, 27), 10423)
(607, 'Patriot Bank Minnesota', 'Forest Lake', 'Minnesota', '34823', 'First Resource Bank', datetime.date(2012, 1, 27), 10422)
(608, 'First Guaranty Bank and Trust Company of Jacksonville', 'Jacksonville', 'Florida', '16579', 'CenterState Bank of Florida, N.A.', datetime.date(2012, 1, 27), 10421)
(609, 'BankEast', 'Knoxville', 'Tennessee', '19869', 'U.S. Bank, N.A.', datetime.date(2012, 1, 27), 10420)
(610, 'The First State Bank', 'Stockbridge', 'Georgia', '19252', 'Hamilton State Bank', datetime.date(2012, 1, 20), 10419)
(611, 'Central Florida State Bank', 'Belleview', 'Florida', '57186', 'CenterState Bank of Florida, N.A.', datetime.date(2012, 1, 20), 10418)
(612, 'American Eagle Savings Bank', 'Boothwyn', 'Pennsylvania', '31581', 'Capital Bank, N.A.', datetime.date(2012, 1, 20), 10417)
(613, 'Western National Bank', 'Phoenix', 'Arizona', '57917', 'Washington Federal', datetime.date(2011, 12, 16), 10416)
(614, 'Premier Community Bank of the Emerald Coast', 'Crestview', 'Florida', '58343', 'Summit Bank', datetime.date(2011, 12, 16), 10415)
(615, 'Polk County Bank', 'Johnston', 'Iowa', '14194', 'Grinnell State Bank', datetime.date(2011, 11, 18), 10414)
(616, 'Central Progressive Bank', 'Lacombe', 'Louisiana', '19657', 'First NBC Bank', datetime.date(2011, 11, 18), 10413)
(617, 'Community Bank of Rockmart', 'Rockmart', 'Georgia', '57860', 'Century Bank of Georgia', datetime.date(2011, 11, 10), 10412)
(618, 'SunFirst Bank', 'Saint George', 'Utah', '57087', 'Cache Valley Bank', datetime.date(2011, 11, 4), 10411)
(619, 'Mid City Bank, Inc.', 'Omaha', 'Nebraska', '19397', 'Premier Bank', datetime.date(2011, 11, 4), 10410)
(620, 'All American Bank', 'Des Plaines', 'Illinois', '57759', 'International Bank of Chicago', datetime.date(2011, 10, 28), 10409)
(621, 'Old Harbor Bank', 'Clearwater', 'Florida', '57537', '1st United Bank', datetime.date(2011, 10, 21), 10408)
(622, 'Decatur First Bank', 'Decatur', 'Georgia', '34392', 'Fidelity Bank', datetime.date(2011, 10, 21), 10407)
(623, 'Community Capital Bank', 'Jonesboro', 'Georgia', '57036', 'State Bank and Trust Company', datetime.date(2011, 10, 21), 10406)
(624, 'Community Banks of Colorado', 'Greenwood Village', 'Colorado', '21132', 'Bank Midwest, N.A.', datetime.date(2011, 10, 21), 10405)
(625, 'Piedmont Community Bank', 'Gray', 'Georgia', '57256', 'State Bank and Trust Company', datetime.date(2011, 10, 14), 10404)
(626, 'First State Bank', 'Cranford', 'New Jersey', '58046', 'Northfield Bank', datetime.date(2011, 10, 14), 10403)
(627, 'Country Bank', 'Aledo', 'Illinois', '35395', 'Blackhawk Bank & Trust', datetime.date(2011, 10, 14), 10402)
(628, 'Blue Ridge Savings Bank, Inc.', 'Asheville', 'North Carolina', '32347', 'Bank of North Carolina', datetime.date(2011, 10, 14), 10401)
(629, 'Sun Security Bank', 'Ellington', 'Missouri', '20115', 'Great Southern Bank', datetime.date(2011, 10, 7), 10400)
(630, 'The RiverBank', 'Wyoming', 'Minnesota', '10216', 'Central Bank', datetime.date(2011, 10, 7), 10399)
(631, 'First International Bank', 'Plano', 'Texas', '33513', 'American First National Bank', datetime.date(2011, 9, 30), 10398)
(632, 'Citizens Bank of Northern California', 'Nevada City', 'California', '33983', 'Tri Counties Bank', datetime.date(2011, 9, 23), 10397)
(633, 'Bank of the Commonwealth', 'Norfolk', 'Virginia', '20408', 'Southern Bank and Trust Company', datetime.date(2011, 9, 23), 10396)
(634, 'The First National Bank of Florida', 'Milton', 'Florida', '25155', 'CharterBank', datetime.date(2011, 9, 9), 10395)
(635, 'Patriot Bank of Georgia', 'Cumming', 'Georgia', '58273', 'Georgia Commerce Bank', datetime.date(2011, 9, 2), 10394)
(636, 'CreekSide Bank', 'Woodstock', 'Georgia', '58226', 'Georgia Commerce Bank', datetime.date(2011, 9, 2), 10393)
(637, 'Lydian Private Bank', 'Palm Beach', 'Florida', '35356', 'Sabadell United Bank, N.A.', datetime.date(2011, 8, 19), 10392)
(638, 'First Southern National Bank', 'Statesboro', 'Georgia', '57239', 'Heritage Bank of the South', datetime.date(2011, 8, 19), 10391)
(639, 'First Choice Bank', 'Geneva', 'Illinois', '57212', 'Inland Bank & Trust', datetime.date(2011, 8, 19), 10390)
(640, 'Public Savings Bank', 'Huntingdon Valley', 'Pennsylvania', '34130', 'Capital Bank, N.A.', datetime.date(2011, 8, 18), 10389)
(641, 'The First National Bank of Olathe', 'Olathe', 'Kansas', '4744', 'Enterprise Bank & Trust', datetime.date(2011, 8, 12), 10388)
(642, 'Bank of Whitman', 'Colfax', 'Washington', '22528', 'Columbia State Bank', datetime.date(2011, 8, 5), 10387)
(643, 'Bank of Shorewood', 'Shorewood', 'Illinois', '22637', 'Heartland Bank and Trust Company', datetime.date(2011, 8, 5), 10386)
(644, 'Virginia Business Bank', 'Richmond', 'Virginia', '58283', 'Xenith Bank', datetime.date(2011, 7, 29), 10385)
(645, 'Integra Bank National Association', 'Evansville', 'Indiana', '4392', 'Old National Bank', datetime.date(2011, 7, 29), 10384)
(646, 'BankMeridian, N.A.', 'Columbia', 'South Carolina', '58222', 'SCBT National Association', datetime.date(2011, 7, 29), 10383)
(647, 'Southshore Community Bank', 'Apollo Beach', 'Florida', '58056', 'American Momentum Bank', datetime.date(2011, 7, 22), 10382)
(648, 'LandMark Bank of Florida', 'Sarasota', 'Florida', '35244', 'American Momentum Bank', datetime.date(2011, 7, 22), 10381)
(649, 'Bank of Choice', 'Greeley', 'Colorado', '2994', 'Bank Midwest, N.A.', datetime.date(2011, 7, 22), 10380)
(650, 'Summit Bank', 'Prescott', 'Arizona', '57442', 'The Foothills Bank', datetime.date(2011, 7, 15), 10379)
(651, 'One Georgia Bank', 'Atlanta', 'Georgia', '58238', 'Ameris Bank', datetime.date(2011, 7, 15), 10378)
(652, 'High Trust Bank', 'Stockbridge', 'Georgia', '19554', 'Ameris Bank', datetime.date(2011, 7, 15), 10377)
(653, 'First Peoples Bank', 'Port St. Lucie', 'Florida', '34870', 'Premier American Bank, N.A.', datetime.date(2011, 7, 15), 10376)
(654, 'Signature Bank', 'Windsor', 'Colorado', '57835', 'Points West Community Bank', datetime.date(2011, 7, 8), 10375)
(655, 'First Chicago Bank & Trust', 'Chicago', 'Illinois', '27935', 'Northbrook Bank & Trust Company', datetime.date(2011, 7, 8), 10374)
(656, 'Colorado Capital Bank', 'Castle Rock', 'Colorado', '34522', 'First-Citizens Bank & Trust Company', datetime.date(2011, 7, 8), 10373)
(657, 'Mountain Heritage Bank', 'Clayton', 'Georgia', '57593', 'First American Bank and Trust Company', datetime.date(2011, 6, 24), 10372)
(658, 'McIntosh State Bank', 'Jackson', 'Georgia', '19237', 'Hamilton State Bank', datetime.date(2011, 6, 17), 10371)
(659, 'First Commercial Bank of Tampa Bay', 'Tampa', 'Florida', '27583', 'Stonegate Bank', datetime.date(2011, 6, 17), 10370)
(660, 'Atlantic Bank and Trust', 'Charleston', 'South Carolina', '58420', 'First Citizens Bank and Trust Company, Inc.', datetime.date(2011, 6, 3), 10369)
(661, 'First Heritage Bank', 'Snohomish', 'Washington', '23626', 'Columbia State Bank', datetime.date(2011, 5, 27), 10368)
(662, 'Summit Bank', 'Burlington', 'Washington', '513', 'Columbia State Bank', datetime.date(2011, 5, 20), 10367)

4. **Запрос к базе данных**  
> Напишите запрос к созданной базе данных, который позволяет вывести количество банков в каждом Штате и их суммарные фонды.

*Пример вывода:*   
Количество банков и суммарные фонды по штатам:  
```
Штат: West Virginia, Количество банков: 1, Суммарные фонды: 10536
Штат: Nebraska, Количество банков: 1, Суммарные фонды: 10535
Штат: New Jersey, Количество банков: 2, Суммарные фонды: 21057
Штат: Ohio, Количество банков: 2, Суммарные фонды: 21032
Штат: Kentucky, Количество банков: 2, Суммарные фонды: 21006
Штат: Texas, Количество банков: 3, Суммарные фонды: 31510
Штат: Illinois, Количество банков: 16, Суммарные фонды: 167855
...
```

In [7]:
query = """
SELECT state, COUNT(*), SUM(fund)
FROM bank
GROUP BY state;
"""

with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute(f"USE {db_name}")
        cursor.execute(query)
        
        print("Количество банков и суммарные фонды по штатам:")
        for row in cursor:
            print(f"Штат: {row[0]}, Количество банков: {row[1]}, Суммарные фонды: {row[2]}")

Количество банков и суммарные фонды по штатам:
Штат: Arkansas, Количество банков: 2, Суммарные фонды: 20844
Штат: Georgia, Количество банков: 51, Суммарные фонды: 529725
Штат: Pennsylvania, Количество банков: 7, Суммарные фонды: 72916
Штат: Tennessee, Количество банков: 6, Суммарные фонды: 62778
Штат: Wisconsin, Количество банков: 8, Суммарные фонды: 83106
Штат: Washington, Количество банков: 9, Суммарные фонды: 93280
Штат: Colorado, Количество банков: 7, Суммарные фонды: 72713
Штат: Illinois, Количество банков: 29, Суммарные фонды: 302042
Штат: Puerto Rico, Количество банков: 1, Суммарные фонды: 10513
Штат: Florida, Количество банков: 36, Суммарные фонды: 374048
Штат: Minnesota, Количество банков: 9, Суммарные фонды: 93797
Штат: California, Количество банков: 12, Суммарные фонды: 124116
Штат: Maryland, Количество банков: 5, Суммарные фонды: 52183
Штат: Oklahoma, Количество банков: 5, Суммарные фонды: 52123
Штат: Ohio, Количество банков: 2, Суммарные фонды: 20787
Штат: South Carolina, Количество банков: 6, Суммарные фонды: 62456
Штат: Virginia, Количество банков: 4, Суммарные фонды: 41556
Штат: Idaho, Количество банков: 1, Суммарные фонды: 10494
Штат: Texas, Количество банков: 3, Суммарные фонды: 31377
Штат: Connecticut, Количество банков: 1, Суммарные фонды: 10489
Штат: Arizona, Количество банков: 8, Суммарные фонды: 83176
Штат: Nevada, Количество банков: 2, Суммарные фонды: 20833
Штат: North Carolina, Количество банков: 5, Суммарные фонды: 52132
Штат: Kentucky, Количество банков: 1, Суммарные фонды: 10474
Штат: Missouri, Количество банков: 7, Суммарные фонды: 72830
Штат: Kansas, Количество банков: 4, Суммарные фонды: 41440
Штат: Alabama, Количество банков: 3, Суммарные фонды: 31154
Штат: New Jersey, Количество банков: 3, Суммарные фонды: 31126
Штат: Michigan, Количество банков: 4, Суммарные фонды: 41450
Штат: Indiana, Количество банков: 2, Суммарные фонды: 20809
Штат: Iowa, Количество банков: 1, Суммарные фонды: 10414
Штат: Louisiana, Количество банков: 1, Суммарные фонды: 10413
Штат: Utah, Количество банков: 1, Суммарные фонды: 10411
Штат: Nebraska, Количество банков: 1, Суммарные фонды: 10410
Штат: Mississippi, Количество банков: 1, Суммарные фонды: 10354
Штат: New Mexico, Количество банков: 1, Суммарные фонды: 10333
Штат: Oregon, Количество банков: 1, Суммарные фонды: 10273