# Практические задания 18
* Лекция 36 - Парсинг веб-страниц
* Лекция 37 - MySQL и Python

1. **Парсинг данных**
> Извлеките данные с первых 10 страниц ресурса https://www.fdic.gov/bank-failures/failed-bank-list. Сохраните их в список строк таблицы. Выведите несколько произвольных строк.

*Пример вывода:*  
```
['The Woodbury Banking Company', 'Woodbury', 'Georgia', '11297', 'United Bank', 'August 19, 2016', '10521']
['First CornerStone Bank', 'King of Prussia', 'Pennsylvania', '35312', 'First-Citizens Bank & Trust Company', 'May 6, 2016', '10520']
['Trust Company Bank', 'Memphis', 'Tennessee', '9956', 'The Bank of Fayette County', 'April 29, 2016', '10519']
['North Milwaukee State Bank', 'Milwaukee', 'Wisconsin', '20364', 'First-Citizens Bank & Trust Company', 'March 11, 2016', '10518']
['Hometown National Bank', 'Longview', 'Washington', '35156', 'Twin City Bank', 'October 2, 2015', '10517']
```

2. **Создание таблицы БД**
     
Напишите программу, которая:
* создаёт базу данных `banks_<your_group>_<your_full_name>`
* выбирает эту базу через USE 
* создает таблицу banks со структурой, идентичной таблице с сайта предыдущей задачи (но дополнительно нужно добавить первичный ключ - id)
После этого:
* вставьте одну произвольную строку в таблицу
* выполните commit() после вставки
* выведите все строки таблицы
* удалите из таблицы все строки
* убедитесь, что таблица пуста.

*Пример вывода:*  
Строки в таблице после вставки:  
`(3, 'Example Bank', 'Example City', 'Example State', '00000', 'Example Institution', datetime.date(2023, 10, 1), 10000)`  
Строки в таблице после удаления:

3. **Заполнение базы данных**  
> Продолжите решение предыдущих задач. Вставьте в созданную базу данных строки, полученные парсингом сайта в первой задаче. Перед вставкой убедитесь, что данные имеют верные типы (числа, даты и т.п.)   
*Пример вывода:*   
Строки в таблице после вставки:
```
(2, 'The First State Bank', 'Barboursville', 'West Virginia', '14361', 'MVB Bank, Inc.', datetime.date(2020, 4, 3), 10536)
(3, 'Ericson State Bank', 'Ericson', 'Nebraska', '18265', 'Farmers and Merchants Bank', datetime.date(2020, 2, 14), 10535)
(4, 'City National Bank of New Jersey', 'Newark', 'New Jersey', '21111', 'Industrial Bank', datetime.date(2019, 11, 1), 10534)
(5, 'Resolute Bank', 'Maumee', 'Ohio', '58317', 'Buckeye State Bank', datetime.date(2019, 10, 25), 10533)
```

4. **Запрос к базе данных**  
> Напишите запрос к созданной базе данных, который позволяет вывести количество банков в каждом Штате и их суммарные фонды.

*Пример вывода:*   
Количество банков и суммарные фонды по штатам:  
```
Штат: West Virginia, Количество банков: 1, Суммарные фонды: 10536
Штат: Nebraska, Количество банков: 1, Суммарные фонды: 10535
Штат: New Jersey, Количество банков: 2, Суммарные фонды: 21057
Штат: Ohio, Количество банков: 2, Суммарные фонды: 21032
Штат: Kentucky, Количество банков: 2, Суммарные фонды: 21006
Штат: Texas, Количество банков: 3, Суммарные фонды: 31510
Штат: Illinois, Количество банков: 16, Суммарные фонды: 167855
...
```