# Summary 19

# Домашнее задание 37
1. **Список всех стран**
> Используя базу данных world, выведите названия всех стран из таблицы country. Каждое название должно отображаться с новой строки и иметь номер.
Пример вывода: 
```
1. Aruba
2. Afghanistan
3. Angola
...  
239. Zimbabwe
```

In [3]:
import pymysql

config = {'host': 'ich-db.edu.itcareerhub.de',
          'user': 'ich1',
          'password': 'password',
          'database': 'world',
          }

with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute("SELECT Name FROM country")
        for row in cursor:
            print(row[0])

Aruba
Afghanistan
Angola
Anguilla
Albania
Andorra
Netherlands Antilles
United Arab Emirates
Argentina
Armenia
American Samoa
Antarctica
French Southern territories
Antigua and Barbuda
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Burkina Faso
Bangladesh
Bulgaria
Bahrain
Bahamas
Bosnia and Herzegovina
Belarus
Belize
Bermuda
Bolivia
Brazil
Barbados
Brunei
Bhutan
Bouvet Island
Botswana
Central African Republic
Canada
Cocos (Keeling) Islands
Switzerland
Chile
China
Côte d’Ivoire
Cameroon
Congo, The Democratic Republic of the
Congo
Cook Islands
Colombia
Comoros
Cape Verde
Costa Rica
Cuba
Christmas Island
Cayman Islands
Cyprus
Czech Republic
Germany
Djibouti
Dominica
Denmark
Dominican Republic
Algeria
Ecuador
Egypt
Eritrea
Western Sahara
Spain
Estonia
Ethiopia
Finland
Fiji Islands
Falkland Islands
France
Faroe Islands
Micronesia, Federated States of
Gabon
United Kingdom
Georgia
Ghana
Gibraltar
Guinea
Guadeloupe
Gambia
Guinea-Bissau
Equatorial Guinea
Greece
Grenada
Greenland
Guatemala
French Guiana
Guam
Guyana
Hong Kong
Heard Island and McDonald Islands
Honduras
Croatia
Haiti
Hungary
Indonesia
India
British Indian Ocean Territory
Ireland
Iran
Iraq
Iceland
Israel
Italy
Jamaica
Jordan
Japan
Kazakstan
Kenya
Kyrgyzstan
Cambodia
Kiribati
Saint Kitts and Nevis
South Korea
Kuwait
Laos
Lebanon
Liberia
Libyan Arab Jamahiriya
Saint Lucia
Liechtenstein
Sri Lanka
Lesotho
Lithuania
Luxembourg
Latvia
Macao
Morocco
Monaco
Moldova
Madagascar
Maldives
Mexico
Marshall Islands
Macedonia
Mali
Malta
Myanmar
Mongolia
Northern Mariana Islands
Mozambique
Mauritania
Montserrat
Martinique
Mauritius
Malawi
Malaysia
Mayotte
Namibia
New Caledonia
Niger
Norfolk Island
Nigeria
Nicaragua
Niue
Netherlands
Norway
Nepal
Nauru
New Zealand
Oman
Pakistan
Panama
Pitcairn
Peru
Philippines
Palau
Papua New Guinea
Poland
Puerto Rico
North Korea
Portugal
Paraguay
Palestine
French Polynesia
Qatar
Réunion
Romania
Russian Federation
Rwanda
Saudi Arabia
Sudan
Senegal
Singapore
South Georgia and the South Sandwich Islands
Saint Helena
Svalbard and Jan Mayen
Solomon Islands
Sierra Leone
El Salvador
San Marino
Somalia
Saint Pierre and Miquelon
Sao Tome and Principe
Suriname
Slovakia
Slovenia
Sweden
Swaziland
Seychelles
Syria
Turks and Caicos Islands
Chad
Togo
Thailand
Tajikistan
Tokelau
Turkmenistan
East Timor
Tonga
Trinidad and Tobago
Tunisia
Turkey
Tuvalu
Taiwan
Tanzania
Uganda
Ukraine
United States Minor Outlying Islands
Uruguay
United States
Uzbekistan
Holy See (Vatican City State)
Saint Vincent and the Grenadines
Venezuela
Virgin Islands, British
Virgin Islands, U.S.
Vietnam
Vanuatu
Wallis and Futuna
Samoa
Yemen
Yugoslavia
South Africa
Zambia
Zimbabwe

In [4]:
import pymysql

config = {'host': 'ich-db.edu.itcareerhub.de',
          'user': 'ich1',
          'password': 'password',
          'database': 'world',
          }

with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute("SELECT Name FROM country")
        countries = [row[0] for row in cursor]
        for i, name in enumerate(countries, start=1):
            print(f"{i}. {name}")

1. Aruba
2. Afghanistan
3. Angola
4. Anguilla
5. Albania
6. Andorra
7. Netherlands Antilles
8. United Arab Emirates
9. Argentina
10. Armenia
11. American Samoa
12. Antarctica
13. French Southern territories
14. Antigua and Barbuda
15. Australia
16. Austria
17. Azerbaijan
18. Burundi
19. Belgium
20. Benin
21. Burkina Faso
22. Bangladesh
23. Bulgaria
24. Bahrain
25. Bahamas
26. Bosnia and Herzegovina
27. Belarus
28. Belize
29. Bermuda
30. Bolivia
31. Brazil
32. Barbados
33. Brunei
34. Bhutan
35. Bouvet Island
36. Botswana
37. Central African Republic
38. Canada
39. Cocos (Keeling) Islands
40. Switzerland
41. Chile
42. China
43. Côte d’Ivoire
44. Cameroon
45. Congo, The Democratic Republic of the
46. Congo
47. Cook Islands
48. Colombia
49. Comoros
50. Cape Verde
51. Costa Rica
52. Cuba
53. Christmas Island
54. Cayman Islands
55. Cyprus
56. Czech Republic
57. Germany
58. Djibouti
59. Dominica
60. Denmark
61. Dominican Republic
62. Algeria
63. Ecuador
64. Egypt
65. Eritrea
66. Western Sahara
67. Spain
68. Estonia
69. Ethiopia
70. Finland
71. Fiji Islands
72. Falkland Islands
73. France
74. Faroe Islands
75. Micronesia, Federated States of
76. Gabon
77. United Kingdom
78. Georgia
79. Ghana
80. Gibraltar
81. Guinea
82. Guadeloupe
83. Gambia
84. Guinea-Bissau
85. Equatorial Guinea
86. Greece
87. Grenada
88. Greenland
89. Guatemala
90. French Guiana
91. Guam
92. Guyana
93. Hong Kong
94. Heard Island and McDonald Islands
95. Honduras
96. Croatia
97. Haiti
98. Hungary
99. Indonesia
100. India
101. British Indian Ocean Territory
102. Ireland
103. Iran
104. Iraq
105. Iceland
106. Israel
107. Italy
108. Jamaica
109. Jordan
110. Japan
111. Kazakstan
112. Kenya
113. Kyrgyzstan
114. Cambodia
115. Kiribati
116. Saint Kitts and Nevis
117. South Korea
118. Kuwait
119. Laos
120. Lebanon
121. Liberia
122. Libyan Arab Jamahiriya
123. Saint Lucia
124. Liechtenstein
125. Sri Lanka
126. Lesotho
127. Lithuania
128. Luxembourg
129. Latvia
130. Macao
131. Morocco
132. Monaco
133. Moldova
134. Madagascar
135. Maldives
136. Mexico
137. Marshall Islands
138. Macedonia
139. Mali
140. Malta
141. Myanmar
142. Mongolia
143. Northern Mariana Islands
144. Mozambique
145. Mauritania
146. Montserrat
147. Martinique
148. Mauritius
149. Malawi
150. Malaysia
151. Mayotte
152. Namibia
153. New Caledonia
154. Niger
155. Norfolk Island
156. Nigeria
157. Nicaragua
158. Niue
159. Netherlands
160. Norway
161. Nepal
162. Nauru
163. New Zealand
164. Oman
165. Pakistan
166. Panama
167. Pitcairn
168. Peru
169. Philippines
170. Palau
171. Papua New Guinea
172. Poland
173. Puerto Rico
174. North Korea
175. Portugal
176. Paraguay
177. Palestine
178. French Polynesia
179. Qatar
180. Réunion
181. Romania
182. Russian Federation
183. Rwanda
184. Saudi Arabia
185. Sudan
186. Senegal
187. Singapore
188. South Georgia and the South Sandwich Islands
189. Saint Helena
190. Svalbard and Jan Mayen
191. Solomon Islands
192. Sierra Leone
193. El Salvador
194. San Marino
195. Somalia
196. Saint Pierre and Miquelon
197. Sao Tome and Principe
198. Suriname
199. Slovakia
200. Slovenia
201. Sweden
202. Swaziland
203. Seychelles
204. Syria
205. Turks and Caicos Islands
206. Chad
207. Togo
208. Thailand
209. Tajikistan
210. Tokelau
211. Turkmenistan
212. East Timor
213. Tonga
214. Trinidad and Tobago
215. Tunisia
216. Turkey
217. Tuvalu
218. Taiwan
219. Tanzania
220. Uganda
221. Ukraine
222. United States Minor Outlying Islands
223. Uruguay
224. United States
225. Uzbekistan
226. Holy See (Vatican City State)
227. Saint Vincent and the Grenadines
228. Venezuela
229. Virgin Islands, British
230. Virgin Islands, U.S.
231. Vietnam
232. Vanuatu
233. Wallis and Futuna
234. Samoa
235. Yemen
236. Yugoslavia
237. South Africa
238. Zambia
239. Zimbabwe

2. **Города выбранной страны**  
>Добавьте к предыдущей программе возможность выбора страны. Пусть пользователь должен ввести название страны. Далее выведите все города этой страны и их численность населения.
Пример вывода: 
```
Введите страну: Germany  
Berlin — 3386667
Hamburg — 1704735
Munich [München] — 1194560
...
```

In [5]:
selected_country = input("Enter country: ")
with pymysql.connect(**config) as connection:
    with connection.cursor() as cursor:
        cursor.execute("""
            SELECT city.Name, city.Population
            FROM city
            JOIN country ON city.CountryCode = country.Code
            WHERE country.Name = %s
        """, (selected_country,))

        for res in cursor:
            print(f"{res[0]} — {res[1]}")

Enter country:  Germany

Berlin — 3386667
Hamburg — 1704735
Munich [München] — 1194560
Köln — 962507
Frankfurt am Main — 643821
Essen — 599515
Dortmund — 590213
Stuttgart — 582443
Düsseldorf — 568855
Bremen — 540330
Duisburg — 519793
Hannover — 514718
Leipzig — 489532
Nürnberg — 486628
Dresden — 476668
Bochum — 392830
Wuppertal — 368993
Bielefeld — 321125
Mannheim — 307730
Bonn — 301048
Gelsenkirchen — 281979
Karlsruhe — 277204
Wiesbaden — 268716
Münster — 264670
Mönchengladbach — 263697
Chemnitz — 263222
Augsburg — 254867
Halle/Saale — 254360
Braunschweig — 246322
Aachen — 243825
Krefeld — 241769
Magdeburg — 235073
Kiel — 233795
Oberhausen — 222349
Lübeck — 213326
Hagen — 205201
Rostock — 203279
Freiburg im Breisgau — 202455
Erfurt — 201267
Kassel — 196211
Saarbrücken — 183836
Mainz — 183134
Hamm — 181804
Herne — 175661
Mülheim an der Ruhr — 173895
Solingen — 165583
Osnabrück — 164539
Ludwigshafen am Rhein — 163771
Leverkusen — 160841
Oldenburg — 154125
Neuss — 149702
Heidelberg — 139672
Darmstadt — 137776
Paderborn — 137647
Potsdam — 128983
Würzburg — 127350
Regensburg — 125236
Recklinghausen — 125022
Göttingen — 124775
Bremerhaven — 122735
Wolfsburg — 121954
Bottrop — 121097
Remscheid — 120125
Heilbronn — 119526
Pforzheim — 117227
Offenbach am Main — 116627
Ulm — 116103
Ingolstadt — 114826
Gera — 114718
Salzgitter — 112934
Cottbus — 110894
Reutlingen — 110343
Fürth — 109771
Siegen — 109225
Koblenz — 108003
Moers — 106837
Bergisch Gladbach — 106150
Zwickau — 104146
Hildesheim — 104013
Witten — 103384
Schwerin — 102878
Erlangen — 100750
Kaiserslautern — 100025
Trier — 99891
Jena — 99779
Iserlohn — 99474
Gütersloh — 95028
Marl — 93735
Lünen — 92044
Düren — 91092
Ratingen — 90951
Velbert — 89881
Esslingen am Neckar — 89667

# Домашнее задание 38
1. **Добавление товаров**  
>Создайте программу, которая подключается к MongoDB и:
* выбирает базу ich_edit и коллекцию `products_<your_group>_<your_full_name>`
* очищает коллекцию перед началом
* добавляет 3 товара с полями: name, price, stock
* выводит сообщение о количестве добавленных товаров  
Пример вывода:   
3 products inserted.

In [ ]:
from pymongo import MongoClient

client = MongoClient(
    "mongodb://ich_editor:verystrongpassword"
    "@mongo.itcareerhub.de/?readPreference=primary"
    "&ssl=false&authMechanism=DEFAULT&authSource=ich_edit"
)

db = client["ich_edit"]
products = db["products_lesson_38"]

# Очистка перед добавлением
products.delete_many({})

items = [
    {"name": "Pen", "price": 1.5, "stock": 100},
    {"name": "Notebook", "price": 3.99, "stock": 50},
    {"name": "Backpack", "price": 25.0, "stock": 20},
]

result = products.insert_many(items)
print(f"{len(result.inserted_ids)} products inserted.")

2. **Увеличение цен**  
>Продолжите предыдущую задачу.  
>Теперь программа должна:
* увеличить цену всех товаров на 20%
* вывести количество обновлённых записей
* затем вывести список всех товаров с новыми ценами  
Пример вывода:   
Prices updated for 3 products.  
```
Updated products:
- Pen — $1.80
- Notebook — $4.79
- Backpack — $30.00
```

In [ ]:
from pymongo import MongoClient

client = MongoClient(
    "mongodb://ich_editor:verystrongpassword"
    "@mongo.itcareerhub.de/?readPreference=primary"
    "&ssl=false&authMechanism=DEFAULT&authSource=ich_edit"
)

db = client["ich_edit"]
products = db["products_lesson_38"]

# Увеличение цен на 20%
cursor = products.find({})
updated = 0

for doc in cursor:
    new_price = round(doc["price"] * 1.2, 2)
    result = products.update_one(
        {"_id": doc["_id"]},
        {"$set": {"price": new_price}}
    )
    if result.modified_count:
        updated += 1

print(f"Prices updated for {updated} products.\n")

# Вывод товаров после обновления
print("Updated products:")
for doc in products.find():
    print(f"- {doc['name']} — ${doc['price']:.2f}")