# Summary 6

In [2]:
str = 'oauibvuhabdgh ijfndb'

In [ ]:
str.isdigit() # Активно используем подсказки Tab (после '.' и строки) Shift+Tab (после указания скобок в методе)

In [3]:
str='123.6'
str.isdigit()

False

In [6]:
str.find('a')

-1

In [7]:
str.index('a')

ValueError: substring not found

In [8]:
str.count('.')

1

In [9]:
str = 'student'

print(str.upper())

STUDENT

In [11]:
str = str.upper()
print(str)

STUDENT

In [13]:
# Пример удаления подстрок или символов из исходной строки через replace

text = 'Hello world!'
print(text.replace('!',''))

Hello world

In [14]:
text = 'Hello world!'
print(text.replace('Hello','Goodby'))

Goodby world!

In [ ]:
#split() для input()

In [16]:
text = input() # 1 2 3 4 10 -5 102
lst = text.split()

for item in lst:
    if int(item)%2==0:
        print(item)

 1 2 3 4 10 -5 102

2
4
10
102

In [18]:
lst = ['Алла', 'Дмитрий', 'Татьяна']
print('*****'.join(lst))

Алла*****Дмитрий*****Татьяна

In [ ]:
# strip Очистка слов

In [24]:
name = input('Введите имя: ')

print(name.strip(',.:;*\' '))

Введите имя:   .ота;

ота

In [25]:
age = int(input())

print(f'Тебе {age:*>10}')

 30

Тебе ********30

### Разбор ДЗ

***Звёздочки вместо чисел***  
Напишите программу, которая заменяет все цифры в строке на звёздочки *.  
text = "My number is 123-456-789"  
Пример вывода:  
Строка: My number is 123-456-789  
Результат: My number is `***-***-***`

In [1]:
text = "My number is 123-456-789"
print("Строка:", text)
result = text
for char in text:
    if char.isdigit():
        result = result.replace(char, "*")
print("Результат:", result)

Строка: My number is 123-456-789
Результат: My number is ***-***-***

***Увеличение чисел***  
Напишите программу, которая делает все целые числа в строке в 10 раз больше.  
text = "I have 5 apples and 10 oranges, price is 0.5 each. Card number is ....3672."  

Пример вывода:  
I have 50 apples and 100 oranges, price is 5.0 each. Card number is ....3672.

ValueError: could not convert string to float: '0,5'

In [ ]:
# вводится вещественное число, как строка и мы должны умножить на 10

In [12]:
word = input() #12,4

l = len(word)
cnt=0
for ch in word:
    if ch.isdigit():
        cnt+=1
    elif ch == '.':
        cnt+=1
        
if l == cnt:
    
    
else:

 0.5

это число

In [30]:
words = ['0.5','hello','23','.4.5.']
flag = False
l = len(words[3])
cnt=0
if words[3][0]!='.' or words[3][-1]!='.':
    for ch in words[3]:
        if ch.isdigit():
            cnt+=1
        elif ch == '.':
            cnt+=1
    if l==cnt:
        flag = True
print(flag)

False

In [31]:
text = "I have 5 apples and 10 oranges, price is 0.5 each. Card number is ....3672."
words = text.split()

for i in range(len(words)):
    flag = False
    l = len(words[i])
    cnt=0
    if words[i][0]!='.' or words[i][-1]!='.':
        for ch in words[i]:
            if ch.isdigit():
                cnt+=1
            elif ch == '.':
                cnt+=1
        if l==cnt:
            flag = True


    
    if words[i].isdigit():
        words[i] = str(int(words[i]) * 10)
    elif flag:
        words[i] = str(float(words[i]) * 10)
    

new_text = " ".join(words)
print(new_text)

I have 50 apples and 100 oranges, price is 5.0 each. Card number is ....3672.

***Сумма положительных чисел***  
Напишите программу, которая обрабатывает список float чисел, вычисляет сумму положительных чисел.  
Результат необходимо вывести в формате денежной суммы (до 2 символов после запятой), добавляя символ валюты "$" вначале и разделяя тысячи запятой.  

Пример вывода:  
numbers = [1245.4435, -302.1403, 87459.99, -520.8265, 1450.001]  
Пример вывода:  
Сумма положительных чисел: $90,155.43

In [20]:
numbers = [1245.4435, -302.1403, 87459.99, -520.8265, 1450.001]

# Инициализируем переменную для хранения суммы положительных чисел
positive_sum = 0

# Фильтруем положительные числа и суммируем их
for num in numbers:
    if num > 0:
        positive_sum += num
        
# Форматируем результат в денежном формате
formatted_sum = "${:,.2f}".format(positive_sum)

print(f"Сумма положительных чисел: {formatted_sum}")

Сумма положительных чисел: $90,155.43

In [21]:
print(f"Сумма положительных чисел: ${positive_sum:,.2f}")

Сумма положительных чисел: $90,155.43

***Сумма положительных чисел***  
Напишите программу, которая принимает список строк в формате "name age balance" и выводит информацию о каждом человеке с отформатированными данными: имя — 10 символов, возраст — 3 символа, баланс — 10 символов с двумя знаками после запятой. Используйте заранее подготовленный список строк.

In [6]:
# Данные:
# data_list = [
#     "John 23 12345.678",
#     "Alice 30 200.50",
#     "Bob 35 15000.3",
#     "Charlie 40 500.75"
# ]

# Пример вывода:
# Имя: John       | Возраст:  23 | Баланс:  12345.68  
# Имя: Alice      | Возраст:  30 | Баланс:    200.50  
# Имя: Bob        | Возраст:  35 | Баланс:  15000.30  
# Имя: Charlie    | Возраст:  40 | Баланс:    500.75

In [7]:
data_list = [
    "John 23 12345.678",
    "Alice 30 200.50",
    "Bob 35 15000.3",
    "Charlie 40 500.75"
]

for person in data_list:
    name, age, balance = person.split()
    age = int(age)
    balance = float(balance)
    print("Имя: {:<10} | Возраст: {:>3} | Баланс: {:>10.2f}".format(name, age, balance))

Имя: John       | Возраст:  23 | Баланс:   12345.68
Имя: Alice      | Возраст:  30 | Баланс:     200.50
Имя: Bob        | Возраст:  35 | Баланс:   15000.30
Имя: Charlie    | Возраст:  40 | Баланс:     500.75

***Звёздочки вместо чисел***  
Напишите программу, которая принимает список строк в формате "name age balance" и выводит информацию о каждом человеке с отформатированными данными: имя — 10 символов, возраст — 3 символа, баланс — 10 символов с двумя знаками после запятой. Используйте заранее подготовленный список строк.
Пример вывода:  
data_list = [  
    "John 23 12345.678",  
    "Alice 30 200.50",  
    "Bob 35 15000.3",  
    "Charlie 40 500.75"  
]

In [8]:
# Пример вывода:
# Имя: John       | Возраст:  23 | Баланс:  12345.68  
# Имя: Alice      | Возраст:  30 | Баланс:    200.50  
# Имя: Bob        | Возраст:  35 | Баланс:  15000.30  
# Имя: Charlie    | Возраст:  40 | Баланс:    500.75

In [9]:
data_list = [
    "John 23 12345.678",
    "Alice 30 200.50",
    "Bob 35 15000.3",
    "Charlie 40 500.75"
]

for person in data_list:
    name, age, balance = person.split()
    age = int(age)
    balance = float(balance)
    print("Имя: {:<10} | Возраст: {:>3} | Баланс: {:>10.2f}".format(name, age, balance))

Имя: John       | Возраст:  23 | Баланс:   12345.68
Имя: Alice      | Возраст:  30 | Баланс:     200.50
Имя: Bob        | Возраст:  35 | Баланс:   15000.30
Имя: Charlie    | Возраст:  40 | Баланс:     500.75